@use '../../styles/_index.scss' as *;


.errorStructure {
    padding: 20px;
    border-radius: 15px;
    border: none;
    border: 1px solid $red-02;
    height: fit-content;
    width: fit-content;
    margin-block: 30px;

    & > legend {
        padding-inline: 10px;
        color: $red-02  ;
    }
}