@use '../../styles/_index.scss' as *;

.main {
    width: 100%;
    display: flex;
    flex-direction: column;

    .inputIcon {
        & > input, select {
            height: 35px;
            padding: 10px 10px;
            width: 100%;
            border: none;
            color:$dark-blue-100;
            border: 1px $grey-200 solid;
            background-color: $dark-blue-2;
            border-radius: 5px;
    
            &:focus {
                border: 1px $dark-blue-100 solid;
                outline: none;
            }
    
            &::placeholder {
                font-size: 12px;
            }
        }
    }

    & > label, .labelComum {
        color: $dark-blue-100;
        display: block;
        margin-block: 3px;
    }

    & > input, select, .inputComum {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        
        height: 35px;
        padding: 10px 10px;
        width: 100%;
        border: none;
        color:$dark-blue-100;
        border: 1px $grey-200 solid;
        background-color: $dark-blue-2;
        border-radius: 5px;

        & , select {
            padding: 0px 10px !important;
        }

        &:focus {
            border: 1px $dark-blue-100 solid;
            outline: none;
        }

        &::placeholder {
            font-size: 12px;
        }
    }

    & > select {
        
    }

    & > textarea {
        height: 10rem;
        width: 100%;
        padding: 10px 7px;
        border-radius: 5px;
        border: 1px $grey-200 solid;
        padding: 10px 7px;
        background-color: $dark-blue-2;
        resize: none;

        &:focus {
            border: 1px $dark-blue-100 solid;
            outline: none;
        }
    }

    & > .fileType {
        position: relative;

        input[type="file"] {
            display: none;
        }

        label {
            border: 1px $grey-200 dotted;
            background-color: $dark-blue-2;
            height: 35px;
            width: 100%;
            margin: 0 auto;
            position: absolute;
            left: 0;
            border-radius: 5px;
            right: 0;
            font-size: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: .2s all;

            &:hover {
                background-color: $dark-blue-10;
            }
        }
    }

    & > .withicon {
        padding-left: 12%;
    }

    & > .inputIcon {
        position: relative;

        & > input, select {
            padding-left: 10%;
        }

        & > svg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 2%; 
        }
    }
}