@use '../../styles/_index.scss' as *;

.header {
    background-color: rgba(black, 0.7);
    display: flex;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    position: fixed;
    top: 0;
    z-index: 50;
    min-width: 100%;
    color: white;
    padding-inline: 10%;

}

.navbar {
    display: flex;
    height: 100%;
    font-family: 'Source Serif Pro Italic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    & > ul {
        list-style: none;
        font-size: 1rem;
        transition: 2s ease all;
        display: flex;
        gap: 1rem;
        align-items: center;
        height: 100%;



        & > li {
            font-weight: 100;
            height: 100%; 
            position: relative;
            cursor: pointer;
            
            .itemsMenuSolucoes   {
                background-color: red;
                position: absolute;
                top: 2.6rem;
                width: 250px;
                max-height: 300px;
                background-color: $grey-100;
                overflow: hidden;
                overflow-y: auto;
                margin: 5px;
                border-radius: 20px;
                padding: 20px;
                border: 1px solid $grey-200;
                font-size: 20px;
                margin-right: 10px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                
                a {
                    text-decoration: none;
                    color: $grey-500;   
                    font-weight: 400;
                }



            }

            & > a {
                text-decoration: none;
    
                &:hover {
                    color: white;
                }
    
                &:active {
                    color: white;
                }
            }
        }
    }
}



.itemsOutros {
    position: absolute;
    top: 4rem;
    right: 0;
    width: 400px;
    max-height: 500px;
    background-color: $grey-100;
    overflow: hidden;
    overflow-y: auto;
    margin: 5px;
    border-radius: 20px;
    padding-inline: 20px;
    border: 1px solid $grey-200;
    font-size: 20px;
    margin-right: 10px;

    & > ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        list-style: none;
        overflow: hidden;

        & > li {
            & > a {
                text-decoration: none;
                color: $grey-500;
            }

            cursor: pointer;
        }
    } 
}

.Outros {
    cursor: pointer;
}

.logoNavbar {
    width: 11rem;
    cursor: pointer;
}

.menuEnavbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navItemActive  {
    color: white;
    font-weight: 700; 
}

.activeUrl {
    background-color: rgba($grey-details, 0.4);
}

@media screen and (max-width:768px) { 
    .active {
        color: white;
    }
}

@media (min-width: 1140px) {
    .header{
        padding-inline: 5%;
    }

}

@media (min-width: 1588px) {
   .TrabalheConosco, .GaleriaFotos, .Noticias {
        display: none;
    }
} 


@media (max-width: 1588px) {
    .Agenda, .CanalSGP, .TrabalheConosco, .GaleriaFotos, .Noticias {
        display: none;
    }
} 


@media (max-width: 1355px) {
    .NossosProfessores, .Documentacoes {
        display: none;
    }
} 

@media (max-width: 1140px) {
    .PeriodicosMensais {
        display: none;
    }
} 

@media (max-width: 1100px) {
    .SolucoesInovadoras {
        display: none;
    }
} 

@media (max-width: 977px) {
    .QuemSomos {
        display: none;
    }
} 

@media (max-width: 790px) {
    .Outros, .CursosTreinamentos {
        display: none;
    }
} 

@media (max-width: 400px) {
    .Contato, .Login {
        display: none;
    }
} 