.iconWhatsapp {
    position: fixed;
    bottom: 2rem;

    right: 5rem;
    transition: .2s ease all;

    &:hover {
        transform: scale(1.1);
    }

    & > a {
        & > img {
            width: 80px;
            max-width: 80px;
            height: 100%;
        }
    }
}

@media (max-width: 306px) {
    .iconWhatsapp {
        position: fixed;
        bottom: 2rem;

        right: 0.5rem;
    
    
        & > a {
            & > img {
                width: 50px;
                height: 100%;
            }
        }
    }
}

@media (min-width: 307px) and (max-width: 576px) {
    .iconWhatsapp {
        position: fixed;
        bottom: 2rem; 

        right: 0.5rem;
    
        & > a {
            & > img {
                width: 60px;
                height: 100%;
            }
        }
    }
}

// @media (max-width: 1096px) {
//     .iconWhatsapp {
//         position: fixed;
//         bottom: 2rem;
//         right: 5rem;
//     }
// }





