@use '../../styles/_index.scss' as *;

.main {
    // fixed top-16 w-56 text-right
    position: fixed;
    width: 224px;
    text-align: right;

    .menuAsDiv {
        position: relative;
        display: inline-block;
        text-align: left;

        .menuButton{
            display: inline-flex;
            width: 100%;
            justify-content: center;
            border-radius: 10px;
            background-color: white;
            padding-inline: 16px;
            align-items: center;
            padding-block: 8px;
            font-size: 14px;
            font-weight: 600;
            color: $grey-400;
            border: 1px solid  $grey-200;
            position: relative;

            &:focus {
                outline: none;
                opacity: 1;
            }

            &:focus-visible {
            	// box-shadow: 0.3px 0.2px 2.2px rgba(165, 29, 29, 1);-shadow: 0.3px 0.2px 2.2px rgba(165, 29, 29, 1);// box-shadow: 0.3px 0.2px 2.2px rgba(165, 29, 29, 1);
                // border: 50px solid rgba(0, 128, 0, 0.3);   
            }

            & > .svg {
                right: 8px;
                margin-left: 8px;
                margin-right: -4px;
                width: 20px;
                color: $blue-100;
                
            }
        }

        .enter {
            transition: ease-out 0.1s;
        }

        .enterFrom {
            transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scale(1);

         
        }

        .enterTo {
            transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scale(1);
            opacity: 1;
        }

        .leave {
            transition: ease-in 0.07s;
        }

        .leaveFrom {
            transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scale(1);
            opacity: 1;
        }

        .leaveTo {
            transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scale(0.95);
            opacity: 0;
            
        }

        .menuItems {
            position: absolute;
            right: 0;
            margin-top: 8px;
            width: 224px;
            transform-origin: top right;
            border: 1px solid $grey-200;
            background-color: white;
            border-radius: 5px;
            box-shadow:
                1px 0.2px 2.2px rgba(0, 0, 0, 0.001),
                2.5px 0.6px 5.3px rgba(0, 0, 0, 0.002),
                4.6px 1.1px 10px rgba(0, 0, 0, 0.004),
                8.3px 2px 17.9px rgba(0, 0, 0, 0.007),
                15.5px 3.8px 33.4px rgba(0, 0, 0, 0.012),
                37px 9px 80px rgba(0, 0, 0, 0.07);

            &:focus {
                outline:none
            }

            & > div {
                padding: 4px;

                & > .dropdown {
                    // group flex w-full items-center rounded-md px-2 py-2 text-sm
                    display: flex;
                    width: 100%;
                    align-items: center;
                    border: none;
                    border-radius: 5px;
                    padding: 8px;
                    font-size: 15px;
                    background-color: white;

                    &:hover {
                        background-color: $grey-100;
                    }

                }

                & > .dropdownSemItems {
                    color: $grey-300;
                    cursor: none;

                    &:hover {
                        background-color: green
                    }
                }
            }
        }
    }
}