@use '_index.scss' as *;

.content {
    background-image: url('../public/images/cursos-treinamentos/homem-sorrindo.webp');
    background-position: center;
    min-width: 100vw;
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    

    & > .headerContent {
        width: 30%;
        margin-left: 10%;
        margin-top: 3%;
        display: flex;   
        flex-direction: column;
        gap: 15px;
        position: relative;

        & > h1 {
            color: white;
        }

        & > hr {
            width: 15%;
            height: 3px;
            background-color: $blue-100;
            border: 1px solid $blue-100;
        }

        & > p {
            color: white;
            margin-block: 5px;
        }

        & > button {
            width: 40%;
        }
    }

}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 

    & > .pageSize {
        width: 80%;
        margin-top: 4rem;
        margin-bottom: 4rem;

        & > .tiposDeCurso {
            margin-bottom: 80px;
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 60px;

            .imgOnRightSide, .imgOnLeftSide {
                display: grid;
                grid-template-columns: repeat(2, 50%);
                gap: 20px;
                align-items: center;

                & > div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 20px;
                    width: 80%;


                    h1 {
                        color: $dark-blue-100;
                    }
        
                    hr {
                        margin-top: -10px;
                        width: 15%;
                        height: 3px;
                        background-color: $blue-100;
                        border: 1px solid $blue-100;
                    }

                    p {
                        color: $grey-500;
                    }
                }

                img {
                    max-width: 100%;
                    width: 450px;
                    height: auto;
                }
            }

            
        }

        & > .mainContentForm {
            height: auto;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            
            & > p {
                text-align: center;
                color: $dark-blue-100;
                margin-block: 20px;
            }
            
            & > .introduction {
                display: flex;
                justify-content: space-between;
        
                .left {
                    width: 60%;
                    & > h2 {
                        font-size: 2rem;
                        color: $dark-blue-100;
                    }
            
                    & > span {
                        color: $grey-400;
                        margin-bottom: 2rem;
                        margin-top: 7px;

                    }
                }

                & > .right {
                    position: relative;
                    width: 30%;
                }
            }

            & > .cursosNovos {
                margin-block: 20px;
                display: grid;
                grid-template-columns: repeat(3, 33%);
                gap: 30px;

                & > .curso {
                    background-color: $dark-blue-fulldark;
                    color: white;
                    border-radius: 10px;
                    padding: 25px;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    height: 230px;

                    & > .isCursoNovo {
                        background-color: $blue-100;
                        width: 35%;
                        padding: 10px;
                        font-weight: 600;
                        text-align: center;
                        border-radius: 5px;

                        &::before {
                            content: "Curso";
                        }
                    }

                    & > .isCursoAntigo {
                        background-color: $orange-100;
                        width: 50%;
                        padding: 10px;
                        text-align: center;
                        font-weight: 600;
                        border-radius: 5px;

                        &::before {
                            content: "Treinamento";
                        }
                    }

                    & > div {
                        position: relative;
    
                        & > h4 {
                            font-size: 15px;
                            margin-block: 15px;
                            overflow: hidden;
                            height: calc(230px - 170px);
                        }
    
                        & > p {
                            cursor: pointer;
                            // text-align: justify;
                        }
                    }
                }
            }

         
        }
    }

    & > .empresaIndicada {
        background-image: url('../public/images/cursos-treinamentos/mesa.webp');
        background-position: center;
        min-width: 100vw;
        height: 500px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 20px;
        text-align: center;

        & > hr {
            width: 5%;
            height: 3px;
            background-color: $blue-100;
            border: 1px solid $blue-100;
            justify-content: flex-start;
        }

        & > h2 {
            width: 35%;
        }

        & > div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            & > ul {
                list-style-type: none;
    
                li {
                    width: auto;
                }
            }
        }
    }

    .mainContentFormTreinamento {
        margin-block: 30px;
        width: 80%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        & > p {
            text-align: center;
            color: $dark-blue-100;
            margin-block: 20px;
        }
        
        & > .introduction {
            display: flex;
            justify-content: space-between;
    
            .left {
                width: 60%;
                & > h2 {
                    font-size: 2rem;
                    color: $dark-blue-100;
                }
        
                & > span {
                    color: $grey-400;
                    margin-bottom: 2rem;
                    margin-top: 7px;

                }
            }

            & > .right {
                position: relative;
                width: 30%;
            }
        }

        & > .cursosNovos {
            margin-block: 20px;
            display: grid;
            grid-template-columns: repeat(3, 33%);
            gap: 30px;

            & > .curso {
                background-color: $dark-blue-fulldark;
                color: white;
                border-radius: 10px;
                padding: 25px;
                display: flex;
                flex-direction: column;
                gap: 30px;
                height: 230px;

                & > .isCursoNovo {
                    background-color: $blue-100;
                    width: 40%;
                    padding: 10px;
                    font-weight: 600;
                    text-align: center;
                    border-radius: 5px;
                    background-color: #fff;

                    &::before {
                        content: "Curso";
                    }
                }

                & > .isCursoAntigo {
                    background-color: $orange-100;
                    width: 50%;
                    padding: 10px;
                    font-weight: 600;
                    text-align: center;
                    border-radius: 5px;

                    &::before {
                        content: "Treinamento";
                    }
                }

                & > div {
                    position: relative;

                    & > h4 {
                        font-size: 15px;
                        margin-block: 15px;
                        overflow: hidden;
                        height: calc(230px - 170px);
                    }

                    & > p {
                        cursor: pointer;
                    }
                }
            }
        }
    } 

    & > .empresaIndicadaBottom {
        background-image: url('../public/images/cursos-treinamentos/mao-escrevendo.webp');
        background-position: center;
        min-width: 100vw;
        height: 500px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 20px;
        text-align: center;
        margin-bottom: 10%;

        & > hr {
            width: 5%;
            height: 3px;
            background-color: $blue-100;
            border: 1px solid $blue-100;
            justify-content: flex-start;
        }

        & > h2 {
            width: 35%;
        }

    }
} 

.fullBodyModal {
    background-color: rgba(white, 0.4);
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    
    /* width */
    ::-webkit-scrollbar {
        width: 7px;
    }

    ::-webkit-scrollbar-track {
        background-color: #e4e4e4;
        border-radius: 100px;
        margin: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #d4aa70;
        border-radius: 100px;
    }

    & > .bodyModalStarted {
        position: relative;
        display: flex;
        min-height: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;

        & > .modalPanel {
            box-sizing: border-box;
            max-width: 550px;
            width: 530px;
            margin: 1rem auto 0;
            max-height: 400px;
            border-radius: 16px;
            background-color: $dark-blue-fulldark;
            padding: 36px;
            // scrollbar-gutter: 10px auto;
            overflow: hidden;
            text-align: left;
            overflow-y: auto;
            vertical-align: middle;
            box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
            transition-property: all;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 150ms;

            & > .voltarParaInicio {
                display: flex;
                gap: 5px;
                color: white;
                width: 100%;
                align-items: center;
                font-weight: 400;
                margin-bottom: 30px;
                font-size: 17px;
                cursor: pointer;
            }

            & > .modalTitle {
                font-size: 1.125rem; /* 18px */
                line-height: 1.75rem; /* 28px */
                font-weight: 500;
                line-height: 1.5rem; /* 24px */
                color: white;
                margin-block: 10px;

                & > span {
                    font-weight: 800;
                    font-size: 22px;

                }

                & > p {
                    margin-block: 20px;
                }
            }

            & > .contentAboveTitle {
                color: white;
                font-weight: 300;
            }
        }
    }
}

// header

@media (max-width: 1145px) {
    .content {
        background-image: url('../public/images/cursos-treinamentos/homem-sorrindo.webp');
        background-position: center;
        min-width: 100vw;
        height: 356.8px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    
        & > .headerContent {
            width: 40%;
            margin-left: 10%;
            margin-top: 3%;
            display: flex;   
            flex-direction: column;
            gap: 15px;
            position: relative;
    
        }
    
    }
}


@media (max-width: 861px) {
    .content {
        background-image: url('../public/images/cursos-treinamentos/homem-sorrindo.webp');
        background-position: center;
        min-width: 100vw;
        height: 356.8px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    
        & > .headerContent {
            width: 60%;
    
        }
    
    }
}


@media (max-width: 625px) {
    .content {
        background-image: url('../public/images/cursos-treinamentos/homem-sorrindo.webp');
        background-position: center;
        min-width: 100vw;
        height: 356.8px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    
        & > .headerContent {
            width: 90%;
            margin-left: 10%;
            margin-top: 3%;
            display: flex;   
            flex-direction: column;
            gap: 15px;
            position: relative;

            & > button {
                width: 40%;
            }
        }
    
    }
}

@media (max-width: 625px) {
    .content {
        background-image: url('../public/images/cursos-treinamentos/homem-sorrindo.webp');
        background-position: center;
        min-width: 100vw;
        min-height: 356.8px;
        height: auto;
        max-height: 400px;
    
        & > .headerContent {
            width: 90%;
            margin-left: 10%;
            margin-top: 15%;
            display: flex;   
            justify-content: center;
            
            & > button {
                width: 70%;
            }
        }
    
    }
}


// cursos
@media (max-width: 835px){
    .main {
        & > .pageSize {

            & > .tiposDeCurso {
    
                .imgOnRightSide, .imgOnLeftSide {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    align-items: center;
                    justify-content: center;
    
                    & > div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 20px;
                        width: 100%;
                        justify-content: center;

    
    
                        h1 {
                            color: $dark-blue-100;
                        }
            
                        hr {
                            margin-top: -10px;
                            width: 15%;
                            height: 3px;
                            background-color: $blue-100;
                            border: 1px solid $blue-100;
                        }
    
                        p {
                            color: $grey-500;
                        }
                    }
    
                    img {
                        max-width: 100%;
                        width: 450px;
                        height: auto;
                    }
                }

                .imgOnLeftSide {
                    flex-direction: column-reverse;
                }
    
                
            }
    
            & > .mainContentForm {

                & > .introduction {
                    flex-direction: column;

                    .left {
                        width: 100%;
                    }
    
                    & > .right {
                        position: relative;
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;   
                    }
                }

                & > .cursosNovos {
                    grid-template-columns: repeat(2, 47%);
    
                    & > .curso {
    
                        & > .isCursoNovo {
                            width: 70%;
                        }
    
                        & > .isCursoAntigo {
                            width: 70%;
                        }

                    }
                }

            }
        }
    
        & > .empresaIndicada {
            background-image: url('../public/images/cursos-treinamentos/mesa.webp');
            background-position: center;
            min-width: 100vw;
            height: 500px;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            gap: 20px;
            text-align: center;
    
            & > hr {
                width: 5%;
                height: 3px;
                background-color: $blue-100;
                border: 1px solid $blue-100;
                justify-content: flex-start;
            }
    
            & > h2 {
                width: 35%;
            }
    
            & > div {
                display: flex;
                justify-content: center;
                align-items: center;

                & > ul {
                    list-style-type: none;
        
                    li {
                        width: auto;
                    }
                }
            }
        }
    
        .mainContentFormTreinamento {

            
            & > .introduction {
                flex-direction: column;
        
                .left {
                    width: 100%;
                }
    
                & > .right {
                    margin-top: 10px;
                    width: 100%;
                }
            }
    
            & > .cursosNovos {
                grid-template-columns: repeat(2, 47%);

    
                & > .curso {
    
                    & > .isCursoNovo {
                 
                        width: 70%;
    

                    }
    
                    & > .isCursoAntigo {
                        width: 70%;
    
                    }

                }
            }
        } 

    } 
}

@media (max-width: 585px){
    .main {
        & > .pageSize {
    
            & > .mainContentForm {

                & > .introduction {
                    flex-direction: column;

                    .left {
                        width: 100%;
                    }
    
                    & > .right {
                        position: relative;
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;   
                    }
                }

                & > .cursosNovos {
                    grid-template-columns: repeat(1, 100%);
    
                    & > .curso {
    
                        & > .isCursoNovo {
                            width: 70%;
                        }
    
                        & > .isCursoAntigo {
                            width: 70%;
                        }

                    }
                }

            }
        }
    
        & > .empresaIndicada {
            background-image: url('../public/images/cursos-treinamentos/mesa.webp');
            background-position: center;
            min-width: 100vw;
            height: 500px;
            max-height: auto;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            gap: 20px;
            text-align: center;
    
            & > hr {
                width: 5%;
                height: 3px;
                background-color: $blue-100;
                border: 1px solid $blue-100;
                justify-content: flex-start;
            }
    
            & > h2 {
                width: 80%;
            }
    
            & > div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                & > ul {
                    list-style-type: none;
        
                    li {
                        width: auto;
                    }
                }
            }
        }
    
        .mainContentFormTreinamento {

            
            & > .introduction {
                flex-direction: column;
        
                .left {
                    width: 100%;
                }
    
                & > .right {
                    margin-top: 10px;
                    width: 100%;
                }
            }
    
            & > .cursosNovos {
                grid-template-columns: repeat(1, 100%);

    
                & > .curso {
    
                    & > .isCursoNovo {
                 
                        width: 70%;
    

                    }
    
                    & > .isCursoAntigo {
                        width: 70%;
    
                    }

                }
            }
        } 

    } 
}

@media (max-width: 400px){
    .main {
        .content {
            .headerContent {
                button {
                    display: none;
                }
            }
        }
        & > .pageSize {
    
            & > .mainContentForm {

                & > .introduction {
                    flex-direction: column;

                    .left {
                        width: 100%;
                    }
    
                    & > .right {
                        position: relative;
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;   
                    }
                }

                & > .cursosNovos {
                    grid-template-columns: repeat(1, 100%);
                    & > .curso {
                        & > .isCursoNovo {
                            width: 70%;
                        }
                        & > .isCursoAntigo {
                            width: 70%;
                        }
                    }
                }
            }
        }
    
        & > .empresaIndicada {
            background-image: url('../public/images/cursos-treinamentos/mesa.webp');
            background-position: center;
            min-width: 100vw;
            height: 500px;
            max-height: auto;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            gap: 20px;
            text-align: center;
    
            & > hr {
                display: none;
            }
    
            & > h2 {
                width: 80%;
            }
    
        }

        
        & > .empresaIndicadaBottom {

            & > h2 {
                width: 70%;
            }
        }
    } 
}