@use '_index.scss' as *;

.content {
    background-image: url('../public/images/cursos-treinamentos/homem-sorrindo.webp');
    background-position: center;
    min-width: 100vw;
    height: 356.8px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .bluredBall {
        position: absolute;
        height: 60%;
        width: 20%;
        top: 0;
        left: 25%;
        border-radius: 50%;
        z-index: 0;
        background-color: #2676EF;
        filter: blur(7rem);
    }

    & > .headerContent {
        width: 30%;
        margin-left: 10%;
        margin-top: 3%;
        display: flex;   
        flex-direction: column;
        gap: 15px;
        position: relative;

        & > h1 {
            color: white;
        }

        & > hr {
            width: 15%;
            height: 3px;
            background-color: $blue-100;
            border: 1px solid $blue-100;
        }

        & > p {
            color: white;
            margin-block: 5px;
        }

        & > button {
            width: 40%;
        }
    }

}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 

    & > .pageSize {
        width: 80%;
        margin-top: 4rem;
        margin-bottom: 4rem;

        & > .mainContentForm {
            height: auto;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            
            & > p {
                text-align: center;
                color: $dark-blue-100;
                margin-block: 20px;
            }
            
            & > .introduction {
                display: flex;
                justify-content: space-between;
        
                .left {
                    width: 60%;
                    & > h2 {
                        font-size: 2rem;
                        color: $dark-blue-100;
                    }
            
                    & > span {
                        color: $grey-400;
                        margin-bottom: 2rem;
                        margin-top: 7px;

                    }
                }

                & > .right {
                    position: relative;
                    width: 30%;
                }
            }

            & > .cursosNovos {
                margin-block: 20px;
                display: grid;
                grid-template-columns: repeat(3, auto);
                gap: 30px;

                & > .curso {
                    background-color: $dark-blue-fulldark;
                    color: white;
                    border-radius: 10px;
                    padding: 25px;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    height: 230px;

                    & > .isCursoNovo {
                        background-color: $blue-100;
                        width: 50%;
                        padding: 10px;
                        text-align: center;
                        border-radius: 5px;

                        &::before {
                            content: "Curso Novo";
                        }
                    }

                    & > .isCursoAntigo {
                        background-color: $orange-100;
                        width: 50%;
                        padding: 10px;
                        text-align: center;
                        border-radius: 5px;

                        &::before {
                            content: "Curso Antigo";
                        }
                    }

                    & > div {
                        position: relative;
    
                        & > h4 {
                            font-size: 15px;
                            margin-block: 15px;
                            overflow: hidden;
                            height: calc(230px - 170px);
                        }
    
                        & > p {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    & > .empresaIndicada {
        background-image: url('../public/images/cursos-treinamentos/mesa.webp');
        background-position: center;
        min-width: 100vw;
        height: 500px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 20px;
        text-align: center;

        & > hr {
            width: 5%;
            height: 3px;
            background-color: $blue-100;
            border: 1px solid $blue-100;
            justify-content: flex-start;
        }

        & > h2 {
            width: 35%;
        }

        & > div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            & > ul {
                list-style-type: none;
    
                li {
                    width: auto;
                }
            }
        }
    }

    .mainContentFormTreinamento {
        margin-block: 30px;
        width: 80%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        & > p {
            text-align: center;
            color: $dark-blue-100;
            margin-block: 20px;
        }
        
        & > .introduction {
            display: flex;
            justify-content: space-between;
    
            .left {
                width: 60%;
                & > h2 {
                    font-size: 2rem;
                    color: $dark-blue-100;
                }
        
                & > span {
                    color: $grey-400;
                    margin-bottom: 2rem;
                    margin-top: 7px;

                }
            }

            & > .right {
                position: relative;
                width: 30%;

                & > .inputLupa {

                    & > svg {
                        position: absolute;
                        top: 17%;
                        margin-left: 10px;

                    }
                }
            }
        }

        & > .cursosNovos {
            margin-block: 20px;
            display: grid;
            grid-template-columns: repeat(3, auto);
            gap: 30px;

            & > .curso {
                background-color: $dark-blue-fulldark;
                color: white;
                border-radius: 10px;
                padding: 25px;
                display: flex;
                flex-direction: column;
                gap: 30px;
                height: 230px;

                & > .isCursoNovo {
                    background-color: $blue-100;
                    width: 40%;
                    padding: 10px;
                    text-align: center;
                    border-radius: 5px;
                    background-color: #fff;

                    &::before {
                        content: "Curso Novo";
                    }
                }

                & > .isCursoAntigo {
                    background-color: $orange-100;
                    width: 50%;
                    padding: 10px;
                    text-align: center;
                    border-radius: 5px;

                    &::before {
                        content: "Curso Antigo";
                    }
                }

                & > div {
                    position: relative;

                    & > h4 {
                        font-size: 15px;
                        margin-block: 15px;
                        overflow: hidden;
                        height: calc(230px - 170px);
                    }

                    & > p {
                        cursor: pointer;
                    }
                }
            }
        }
    } 

    & > .empresaIndicadaBottom {
        background-image: url('../public/images/cursos-treinamentos/mao-escrevendo.webp');
        background-position: center;
        min-width: 100vw;
        height: 500px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 20px;
        text-align: center;
        margin-bottom: 10%;

        & > hr {
            width: 5%;
            height: 3px;
            background-color: $blue-100;
            border: 1px solid $blue-100;
            justify-content: flex-start;
        }

        & > h2 {
            width: 35%;
        }

    }
} 

// header

@media (max-width: 1145px) {
    .content {
        background-image: url('../public/images/cursos-treinamentos/homem-sorrindo.webp');
        background-position: center;
        min-width: 100vw;
        height: 356.8px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    
        & > .headerContent {
            width: 40%;
            margin-left: 10%;
            margin-top: 3%;
            display: flex;   
            flex-direction: column;
            gap: 15px;
            position: relative;
    
        }
    
    }
}


@media (max-width: 861px) {
    .content {
        background-image: url('../public/images/cursos-treinamentos/homem-sorrindo.webp');
        background-position: center;
        min-width: 100vw;
        height: 356.8px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    
        & > .headerContent {
            width: 60%;
    
        }
    
    }
}


@media (max-width: 625px) {
    .content {
        background-image: url('../public/images/cursos-treinamentos/homem-sorrindo.webp');
        background-position: center;
        min-width: 100vw;
        height: 356.8px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    
        & > .headerContent {
            width: 90%;
            margin-left: 10%;
            margin-top: 3%;
            display: flex;   
            flex-direction: column;
            gap: 15px;
            position: relative;

            & > button {
                width: 40%;
            }
        }
    
    }
}

@media (max-width: 625px) {
    .content {
        background-image: url('../public/images/cursos-treinamentos/homem-sorrindo.webp');
        background-position: center;
        min-width: 100vw;
        min-height: 356.8px;
        height: auto;
        max-height: 400px;
    
        & > .headerContent {
            width: 90%;
            margin-left: 10%;
            margin-top: 15%;
            display: flex;   
            justify-content: center;
            
            & > button {
                width: 70%;
            }
        }
    
    }
}


// cursos
@media (max-width: 1077px){
    .main {

        & > .pageSize {
    
            & > .mainContentForm {

                & > .introduction {
                    display: flex;
                    justify-content: space-between;
                    // flex-direction: column;
                    gap: 20px;
            
                    .left {
                        width: 60%;
                        & > h2 {
                            font-size: 2rem;
                            color: $dark-blue-100;
                        }
                
                        & > span {
                            color: $grey-400;
                            margin-bottom: 2rem;
                            margin-top: 7px;
    
                        }
                    }
    
                    & > .right {
                        position: relative;
                        width: 30%;
    
                    }
                }

            }
        }
    
        & > .empresaIndicada {
            background-image: url('../public/images/cursos-treinamentos/mesa.webp');
            background-position: center;
            min-width: 100vw;
            height: 500px;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            gap: 20px;
            text-align: center;
    
            & > hr {
                width: 5%;
                height: 3px;
                background-color: $blue-100;
                border: 1px solid $blue-100;
                justify-content: flex-start;
            }
    
            & > h2 {
                width: 35%;
            }
    
            & > div {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                & > ul {
                    list-style-type: none;
        
                    li {
                        width: auto;
                    }
                }
            }
        }
    
        .mainContentFormTreinamento {
            margin-block: 30px;
            width: 80%;
            height: auto;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            
            & > p {
                text-align: center;
                color: $dark-blue-100;
                margin-block: 20px;
            }
            
            & > .introduction {
                display: flex;
                justify-content: space-between;
        
                .left {
                    width: 60%;
                    & > h2 {
                        font-size: 2rem;
                        color: $dark-blue-100;
                    }
            
                    & > span {
                        color: $grey-400;
                        margin-bottom: 2rem;
                        margin-top: 7px;
    
                    }
                }
    
                & > .right {
                    position: relative;
                    width: 30%;
    
                    & > .inputLupa {
    
                        & > svg {
                            position: absolute;
                            top: 17%;
                            margin-left: 10px;
    
                        }
                    }
                }
            }
    
            & > .cursosNovos {
                margin-block: 20px;
                display: grid;
                grid-template-columns: repeat(3, auto);
                gap: 30px;
    
                & > .curso {
                    background-color: $dark-blue-fulldark;
                    color: white;
                    border-radius: 10px;
                    padding: 25px;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    height: 230px;
    
                    & > .isCursoNovo {
                        background-color: $blue-100;
                        width: 40%;
                        padding: 10px;
                        text-align: center;
                        border-radius: 5px;
                        background-color: #fff;
    
                        &::before {
                            content: "Curso Novo";
                        }
                    }
    
                    & > .isCursoAntigo {
                        background-color: $orange-100;
                        width: 50%;
                        padding: 10px;
                        text-align: center;
                        border-radius: 5px;
    
                        &::before {
                            content: "Curso Antigo";
                        }
                    }
    
                    & > div {
                        position: relative;
    
                        & > h4 {
                            font-size: 15px;
                            margin-block: 15px;
                            overflow: hidden;
                            height: calc(230px - 170px);
                        }
    
                        & > p {
                            cursor: pointer;
                        }
                    }
                }
            }
        } 

    } 
}