/* ibm-plex-sans-100 - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100;
  src: url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-100.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-100italic - latin */
@font-face {
  font-family: 'IBM Plex Sans Italic 100';
  font-style: italic;
  font-weight: 100;
  src: url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-100italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-100italic.woff') format('woff'), /* Modern Browsers */
       url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-100italic.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-regular - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-regular.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-italic - latin */
@font-face {
  font-family: 'IBM Plex Sans Italic';
  font-style: italic;
  font-weight: 400;
  src: url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../public/fonts/IBMPlexSans/ibm-plex-sans-v14-latin-italic.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif, 'Courier New', Courier, monospace;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

