@use '_index.scss' as *;

.fullPage {
  scroll-behavior: smooth;
}

.titleDarkBlue {
  color: $dark-blue-100;
  font-weight: 700;
  font-size: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.italicTiny {
  font-family: "IBM Plex Sans Italic 100";
  font-weight: 500;
}

.boldHigher {
  font-weight: 700;
}

.carouselSpace {
  height: 500px;
  max-height: 500px;
  min-width: 100vw;
  margin-top: -1rem;
  z-index: 20;

  & > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 25px;
    color: rgba(white, 0.4);
    z-index: 20;
    transition: .2s ease all;
    

    &:hover {
      color: rgba(white, 1);
    }

  }

  & > .slideToNextItem {
    position: absolute;
    top: 40%;
    right: 2%;
    color: $dark-blue-70
  }

  & > .slideToPrevItem {
    position: absolute;
    top: 40%;
    left: 2%;
    color: $dark-blue-70

  }
}

.imgCarousel {
  width: 100%;
  height: auto;
  min-height: 300px;
  object-fit: cover;
}

.imgBannerPublicacoes {
  background-image: url("/images/carousel/publicacoes/1920.webp");
  background-position: center;
  background-size: cover;
  min-width: 100vw;
  position: relative;

}

.imgCaraGravata {
  background-image: url("/images/carousel/dreamteam/1920_.webp");
  background-position: center;
  background-size: cover;
  background-position: 60%;
  width: 100%;

  & > div {
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: xx-large;
    width: 30%;
    color: #fff;
  }

}

.imgPosGraduacao {
  background-image: url("/images/carousel/posgraduacao/1920.webp");
  background-position: center;
  background-size: cover;
  width: 100%;
}

.imgAgendaCursos {
  background-image: url("/images/carousel/agenda/1920.webp");
  background-position: center;
  background-size: cover;
  width: 100%;
}

.imgSolucoesInovadoras {
  background-image: url("/images/carousel/solucoes/1920.webp");
  background-position: center;
  background-size: cover;
  width: 100%;
}

.imgInCompany {
  background-image: url("/images/carousel/incompany/1920.webp");
  background-position: center;
  background-size: cover;
  width: 100%;
}

.imgCapacitacaoTecnica {
  background-image: url("/images/carousel/capacitacao/1920.webp");
  background-position: center;
  background-size: cover;
  width: 100%;

}

.imgModel {
  background-image: url("/images/carousel/infoqualidade/1920.webp");
  background-position: center;
  background-size: cover;
  width: 100%;

  & > div {
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 25px;
    width: 30%;
    color: #c91616;

    > p {
      margin-bottom: 10px;
    }
  }


}

.imgPublico {
  background-image: url("/images/carousel/palestrinha/1920.webp");
  background-position: center;
  background-size: cover;
  width: 100%;


}


.quemsomos {
  padding-block: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  word-break: keep-all;
  position: relative;
  background-color: $dark-blue-2;

  & > .textoEImagem {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 50%);

    & > .descricao {
      hr {
        height: 3px;
        width: 50px;
        background-color: $blue-100;
        border: none;
        margin-block: 20px;
        // margin-top: 10px;
      }

      & > h1 {
        width: 90%;
        color: $dark-blue-100;
        font-weight: 700;
        font-size: 30px;
      }

      & > .historiaSgp {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      p {
        font-size: 15px;
        color: $grey-400;
        margin-right: 30px;
      }
    }

    .foto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      transition: .2s ease all;
      img {
        max-width: 100%;
        height: auto;
      }

      // &:hover {
      //   transform: scale(1.02);
      // }
    }
  }



  .icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: $dark-blue-100;
    cursor: pointer;
    transition: .2s linear all;

    &:hover {
      color: $dark-blue-black;
    }
  }
}

.clientesContribuintes {
  padding: 60px 100px;
  display: flex;
  flex-direction: column;
  word-break: keep-all;
  padding: 60px 0 60px 243px;

  & > h1 {
    display: block;
    margin-bottom: 15px;
  }

  p {
    font-size: 15px;
    color: $grey-400;
    margin-right: 30px;
  }

  & > .spaceTitleCarousel {
    display: flex;


    & > .explicacao {
      width: 35%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .carouselAll {
      width: 65%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;

      .carousel {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      & > .controles {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 20px;
        user-select: none;
        
        & > .arrowLeft, .arrowRight {
          width: 30px;
          height: 30px;
          padding: 3px 3px;
          font-size: 20px;
          background-color: $dark-blue-2;
          color: $dark-blue-100;
          cursor: pointer;
        }

        & > span {
          color: $grey-300;
          font-size: 14px;
          user-select: none;
        }
      }
    }
  }
}

.carouselParceirosItem {
  display: flex;
  justify-content: center;
  align-items: center;

  p{
    display: inline-block;
  }

  img {
    max-width: 100%;
    height: auto;
    width: 311px;
  }
}

.comentarios {
  display: flex;
  justify-content: center;
  margin-block: 60px;

  & > .comentariosContent {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;

    .carouselDepoimentosAll {


      .carosel {

        .depoimentosClientes {
          // height: 400px;
          width: 90%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          // min-height: 400px;
          background-color: red;
        }
      }
    }
  }
}

.sergio {
  display: flex;
  margin-block: 30px ;
  width: 70%;
  justify-content: center;
  color: $dark-blue-100;

  & > .nomefoto {
    width: 50%;
    display: flex;
    margin-right: 20px;

    & > p {
      width: 100%;
      text-align: start;
      align-self: center;
      padding-inline: 8px;
      font-size: 15px;
    }
  }

  & > .review {
    width: 50%;
    border-left: 2px solid $grey-100;
    text-align-last: left;
    padding-left: 32px;

    & > p {
      color: $grey-300;
    }
  }
}

.periodicosExclusivos {
  margin-block: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  & > .periodicos {
    width: 60.5%;
    display: flex;
    justify-content: space-between;

    & > .introducao {
      width: auto;
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 14px;

      & > p {
        margin-right: 25px;
        color: $grey-300;
      }      
    }

    .secoes {
      color: $dark-blue-100;
      margin: 40px 1px 25px 0;
      text-align: center;
      // width: 55%;
    }

    & > .fotosPeriodicos {
      width: 55%;
    }

  }

  & > .topicosPeriodicos {
    margin-block: 40px;
    width: 60.5%;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    gap: 20px;

    & > .item {
      padding: 10px;

      & > .titleIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 1px;
        color: $dark-blue-100;
        font-weight: 100;
        
        & > img {
          background-color: $dark-blue-2;
          height: 20px;
          width: 20px;
          background-color: $dark-blue-2;
        }

        & > h1 {
          font-size: 20px;
          height: fit-content;
        }
      }

      & > p {
        margin-block: 10px;
        font-size: 14px;
        color: $grey-500;
      }

    }
  }

}

.degustacaoAll {
  margin-bottom: 80px;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & > .degustacao {
    width: 62%;
    background-color:$dark-blue-100;
    border-radius: 16px;
    padding: 10px 50px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    color: white;

    & > .leftSide {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 28px;

      & > .livroExplicacao {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 15px;
        align-items: center;
        
        & > svg {
          width: 30px;
          height: 30px;
          padding: 5px;
          border: 1px solid $grey-100;
          border-radius: 5px;
        }
      }
    }

    
    & > .rightSide {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      align-items: center;
      gap: 10px;

      img {
        width: 100%;
        height: 80%;
        transition: .2s ease all;

        &:hover {
          transform: scale(1.04);
        }
      }

    }

    
  }
}

.assinantes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  & > .assinantesAll{
    width: 60.5%;
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: center;


    & > .leftSide {
      @include centralizaVerticalmente;
      gap: 10px;
      width: 100%;
      display: block;

      & > h1 {
        width: 80%;
        color: $dark-blue-100;
        margin-bottom: 20px;

      }

      & > p {
        width: 100%;
        color: $grey-400;
        font-size: 14px
      }
    }

    & > .solicitacoes {
      @include centralizaHorizontalmente;
      gap: 10%;

      & > .centerSide {
        @include centralizaVerticalmente;
        gap: 20px;
        align-items: center;
        padding-block: 25px;
        padding-inline: 25px;
        background-color: $dark-blue-100;
        border-radius: 10px;
        width: 35%;
  
        & > p {
          text-align: center;
          width: 80%;
          color: white;
        }
  
        & > svg {
          border: 1px solid $blue-100; 
          padding: 5px;
          width: 30px;
          height: 30px;
          border-radius: 5px
        }
      }

      & > .rightSide {
        @include centralizaVerticalmente;
        gap: 20px;
        align-items: center;
        padding-block: 25px;
        padding-inline: 25px; 
        border-radius: 10px;
        width: 35%;
        border: 1px solid $blue-100;
  
        & > p {
          text-align: center;
          width: 80%;
          color: $dark-blue-100;
        }

        & > svg {
          border: 1px solid $blue-100; 
          padding: 5px;
          width: 30px;
          height: 30px;
          border-radius: 5px
        }
      }
    }

   

   
  } 
}

.obrasExclusivas {
  width: 100%;
  margin-block: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > .obrasExclusivasAll {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    & > svg {
      color: $dark-blue-100;
      font-size: 35px;
    }
    
    & > hr {
      width: 10%;
      height: 3px;
      background-color: $blue-100;
      border: 1px solid $blue-100;
      margin-top: 40px;
    }

    & > h1 {
      margin-block: 20px;
      color: $dark-blue-100;
    }

    & > div {
      display: flex;
      gap: 30px;

      & > .obra {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        width: 33.3%;


        & > img {
          max-width: 200px;
          height: auto;
        }

        & > h4 {
          color: $dark-blue-100;
          font-weight: 400;
        }

        & > p {
          color: $grey-500;
          font-size: 15px;
        }
      }

    }
  }
}

.redesSociais {
  width: 100%;
  margin-block: 150px;
  @include centralizaVerticalmente;
  align-items: center;

  & > .redesSociaisAll {
    width: 60.5%;
    @include centralizaHorizontalmente;
    align-items: center; 
    height: 100%;

    & > .linksSeguir {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 45px;

      & > .introducao {
        width: 95%;
        display: flex;
        flex-direction: row;
  
        & > h2 {
          width: 100%;
          color: $dark-blue-100;
        }

        span {
          // width: 0%;
          margin-top: 5px;
          color: $grey-400;
        }
      }

      & > .mappedSociais {
        margin-right: 10px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 10px;


        & > a {
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 10px;
          color: $dark-blue-100;
          border: 1px solid $grey-200;
          padding: 10px;
          border-radius: 5px;
          transition: .2s all ease-in;
          &:hover {
            background-color: $dark-blue-100;
            color: white;
          }

          

          & > svg {
            font-size: 25px;
          }


          & > div {
            .nome {
              font-weight: bolder;
            }
          }
        }
      
      }

    }

  }
}


















































































































// ----------------- CAROUSEL ----------------- //

@media (max-width: 982px) {
  .imgCarousel{
    height: auto;
    min-width: 100%;
  }
}


@media (max-width: 1600px) {
  .imgCaraGravata {
    background-image: url("/images/carousel/dreamteam/1600_.webp");
  }

  .imgModel {
    background-image: url("/images/carousel/infoqualidade/1600.webp");
  }

  .imgCapacitacaoTecnica {
    background-image: url("/images/carousel/capacitacao/1600.webp"); 
  }

  .imgPosGraduacao {
    background-image: url("/images/carousel/posgraduacao/1600.webp");
  }

  .imgBannerPublicacoes {
    background-image: url("/images/carousel/publicacoes/1600.webp"); 
  }

  .imgPublico {
    background-image: url("/images/carousel/palestrinha/1600.webp");
  }

  .imgSolucoesInovadoras {
    background-image: url("/images/carousel/solucoes/1600.webp");
  }

  .imgAgendaCursos {
    background-image: url("/images/carousel/agenda/1600.webp");
  }

  .imgInCompany {
    background-image: url("/images/carousel/incompany/1600.webp");
  }
}

@media (max-width: 1100px) {
  .imgCaraGravata {
    background-image: url("/images/carousel/dreamteam/1100_.webp");
  }

  .imgModel {
    background-image: url("/images/carousel/infoqualidade/1100.webp");
  }

  .imgCapacitacaoTecnica {
    background-image: url("/images/carousel/capacitacao/1100.webp"); 
  }

  .imgPosGraduacao {
    background-image: url("/images/carousel/posgraduacao/1100.webp");
  }

  .imgBannerPublicacoes {
    background-image: url("/images/carousel/publicacoes/1100.webp"); 
  }

  .imgPublico {
    background-image: url("/images/carousel/palestrinha/1100.webp"); 
  }

  .imgSolucoesInovadoras {
    background-image: url("/images/carousel/solucoes/1100.webp");
  }

  .imgAgendaCursos {
    background-image: url("/images/carousel/agenda/1100.webp");
  }

  .imgInCompany {
    background-image: url("/images/carousel/incompany/1100.webp");
  }
}

@media (max-width: 800px) {
  .imgCaraGravata {
    background-image: url("/images/carousel/dreamteam/800_.webp");
  }
  .imgModel {
    background-image: url("/images/carousel/infoqualidade/800.webp");
  }

  .imgCapacitacaoTecnica {
    background-image: url("/images/carousel/capacitacao/800.webp"); 
  }

  .imgPosGraduacao {
    background-image: url("/images/carousel/posgraduacao/800.webp");
  }

  .imgBannerPublicacoes {
    background-image: url("/images/carousel/publicacoes/800.webp"); 
  }

  .imgPublico {
    background-image: url("/images/carousel/palestrinha/800.webp"); 
  }

  .imgSolucoesInovadoras {
    background-image: url("/images/carousel/solucoes/800.webp");
  }

  .imgAgendaCursos {
    background-image: url("/images/carousel/agenda/800.webp");
  }

  .imgInCompany {
    background-image: url("/images/carousel/incompany/800.webp");
  }
}

@media (max-width: 460px) {
  .imgCaraGravata {
    background-image: url("/images/carousel/dreamteam/410_.webp");
  }

  .imgModel {
    background-image: url("/images/carousel/infoqualidade/410.webp");
  }

  .imgCapacitacaoTecnica {
    background-image: url("/images/carousel/capacitacao/410.webp"); 
  }

  .imgPosGraduacao {
    background-image: url("/images/carousel/posgraduacao/410.webp");
  }

  .imgBannerPublicacoes {
    background-image: url("/images/carousel/publicacoes/410.webp"); 
  }

  .imgPublico {
    background-image: url("/images/carousel/palestrinha/410.webp"); 
  }

  .imgSolucoesInovadoras {
    background-image: url("/images/carousel/solucoes/410.webp");
  }

  .imgAgendaCursos {
    background-image: url("/images/carousel/agenda/410.webp");
  }

  .imgInCompany {
    background-image: url("/images/carousel/incompany/410.webp");
  }
}



// quem somos

@media (max-width: 971px) {
  .quemsomos {
    padding-block: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    word-break: keep-all;
    position: relative;
    background-color: $dark-blue-2;
  
    & > .textoEImagem {
      width: 80%;
      display: grid;
      grid-template-columns: repeat(1, 100%);
  
      & > .descricao {
        hr {
          height: 3px;
          width: 50px;
          background-color: $blue-100;
          border: none;
          margin-block: 20px;
          // margin-top: 10px;
        }
  
        & > h1 {
          width: 90%;
          color: $dark-blue-100;
          font-weight: 700;
          font-size: 30px;
        }
  
        & > .historiaSgp {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
  
        p {
          font-size: 15px;
          color: $grey-400;
          margin-right: 30px;
        }

      
      }

      .foto {
        padding-block: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
  
    }
  
  }
}

@media (max-width: 581px) {
  .quemsomos {
    padding-block: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    word-break: keep-all;
    position: relative;
    background-color: $dark-blue-2;
  
    & > .textoEImagem {
      width: 80%;
      display: grid;
      grid-template-columns: repeat(1, 100%);
  
      & > .descricao {
        hr {
          height: 3px;
          width: 50px;
          background-color: $blue-100;
          border: none;
          margin-block: 20px;
          // margin-top: 10px;
        }
  
        & > h1 {
          width: 90%;
          color: $dark-blue-100;
          font-weight: 700;
          font-size: 30px;
        }
  
        & > .historiaSgp {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
  
        p {
          font-size: 15px;
          color: $grey-400;
          margin-right: 30px;
        }

      
      }

      .foto {
        padding-block: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
  
    }
  
  }
}


// COLABORADORES

@media (max-width: 1037px){
  .clientesContribuintes {
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    word-break: keep-all;
    padding: 60px 0 60px 130px;
  }
}

@media (max-width: 970px){
  .clientesContribuintes {
    padding: 60px 0 60px 90px;

  
    & > .spaceTitleCarousel {
      flex-direction: column;
      gap: 60px;
  
      & > .explicacao {
        width: 100%;
      }
  
      .carouselAll {
        width: 100%;
        justify-content: center;
        gap: 10px;
  
        & > .controles {
          justify-content: center;
          
          & > span {
            color: $grey-300;
            font-size: 14px;
            user-select: none;
          }
        }
      }
    }
  }
}


@media (max-width: 530px){
  .clientesContribuintes {
    padding: 60px 0 60px 55px;
  
    & > h1 {
      width: 80%;
    }

    & > .spaceTitleCarousel {
      flex-direction: column;
      gap: 60px;
  
      & > .explicacao {
        width: 100%;
      }
  
      .carouselAll {
        width: 100%;
        justify-content: center;
        gap: 10px;
  
        & > .controles {
          justify-content: center;
          
          & > span {
            color: $grey-300;
            font-size: 14px;
            user-select: none;
          }
        }
      }
    }
  }

  .carouselParceirosItem {

    img {
      width: 150px;
      height: 60px;
    }
  }
  
}

@media (max-width: 621px) {
  .comentarios {
    display: flex;
    justify-content: center;
    padding-block: 60px;

    & > .comentariosContent {
      width: 63%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      & > .comentarioSergio {
        width: 75%;
        color: $grey-300;
      }
    }
  }

  .sergio {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    & > .nomefoto {
      width: 100%;
      display: flex;
      margin-right: 0;

      & > p {
        width: 100%;
        text-align: start;
        align-self: center;
        padding-inline: 8px;
        font-size: 15px;
      }
    }

    & > .review {
      width: 100%;
      border: none;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-left: 0;

      & > p {
        color: $grey-300;
      }
    }
  }
}

@media (max-width: 470px) {
  .comentarios {
    display: flex;
    justify-content: center;

    & > .comentariosContent {
      width: 85%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      & > .comentarioSergio {
        width: 90%;
        color: $grey-300;
      }
    }
  }

  .sergio {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    & > .nomefoto {
      width: 100%;
      display: flex;
      margin-right: 0;

      & > p {
        width: 100%;
        text-align: start;
        align-self: center;
        padding-inline: 8px;
        font-size: 15px;
      }
    }

    & > .review {
      width: 100%;
      border: none;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-left: 0;

      & > p {
        color: $grey-300;
      }
    }
  }
}

@media(max-width: 1223px) {
  .periodicosExclusivos {
  
    & > .periodicos {
      width: 61%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      
      & > .introducao {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 14px;
  
        & > p {
          font-size: 14px;
          margin-right: 25px;
        }
  
        
      }
  
      & > .fotosPeriodicos {
        width: 100%;
        display: flex;
        justify-content: center;
      }
  
    }
  
  }
  
}

@media(max-width: 463px) {
  .periodicosExclusivos {
  
    & > .periodicos {

  
      & > .fotosPeriodicos {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
      }
  
    }
  
  }
  
}

// SEÇÕES PERIODICOS

@media (max-width: 909px) {
  .periodicosExclusivos {
    & > .topicosPeriodicos {
      display: grid;
      grid-template-columns: repeat(2, 50%);
    
    }
  }

}

@media (max-width: 636px) {
  .periodicosExclusivos {
    & > .topicosPeriodicos {
      display: grid;
      grid-template-columns: repeat(1, 100%);
    }
  }

}

// DEGUSTAÇÃO

@media (max-width: 1151px) {
  .degustacaoAll {
    & > .degustacao {
      display: grid;
      padding: 30px 50px;
      grid-template-columns: repeat(2, 50%); 
      
    }
  }
}

@media (max-width: 963px) {
  .degustacaoAll {
  
    & > .degustacao {
      display: grid;
      grid-template-columns: repeat(1, 100%);
    }
  }
}

@media (max-width: 603px) {
  .degustacaoAll {
  
    & > .degustacao {
  
      & > .leftSide {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 18px;
  
        & > .livroExplicacao {
          display: grid;
          grid-template-columns: repeat(2, auto);
          gap: 15px;
          align-items: center;
          
          & > img {
            width: 30px;
            height: 30px;
            padding: 5px;
            border: 1px solid $grey-100;
            border-radius: 5px;
          }
        }
      }
      
      & > .rightSide {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        align-items: center;
        gap: 10px;
      }
  
      
    }
  }
}

@media (max-width: 467px) {
  .degustacaoAll {
  
    & > .degustacao {
    width: 100vw;
    border-radius: 0;
      & > .leftSide {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 18px;

        > h1 {
          text-align: center;
        }
  
        & > .livroExplicacao {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 15px;
          align-items: center;
          text-align: center;
          // justify-content: center;
          
          & > img {
            width: 30px;
            height: 30px;
            padding: 5px;
            border: 1px solid $grey-100;
            border-radius: 5px;
          }
        }
      }
      
      & > .rightSide {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        align-items: center;
        gap: 10px;
      }
  
      
    }
  }
}

// ASSINANTES

@media (max-width: 875px) {
  .assinantes {
    
    & > .assinantesAll{  
  
      & > .leftSide {
        @include centralizaVerticalmente;
        gap: 10px;
        width: 100%;
        display: block;
      }
  
      & > .solicitacoes {
        @include centralizaHorizontalmente;
        flex-direction: column;
        gap: 30px;
  
        & > .centerSide {
          width: 100%;
        }
  
        & > .rightSide {
          width: 100%;
        }
      }
  
     
  
     
    } 
  }
}

@media (max-width: 899px) {
  .obrasExclusivas {
    justify-content: center;
    text-align: center;
    
    & > .obrasExclusivasAll {
      width: 75%;
      display: flex;

      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        
        & > .obra {
          display: flex;
          width: 80%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;

          img {
            max-width: 100%;
            height: auto;
          }
        }
  
      }
    }
  
  }
}

// REDES SOCIAIS
@media (max-width: 1183px) {
  .redesSociais {
    & > .redesSociaisAll {  
      & > .linksSeguir {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 45px;
  
        & > .introducao {
          width: 95%;
          display: flex;
          flex-direction: column;
    
        }
  
        & > .mappedSociais {
          margin-right: 10px;
          display: grid;
          grid-template-columns: repeat(2, auto);
          gap: 10px;
  
          & > a {
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 10px;
            color: $dark-blue-100;
            border: 1px solid $grey-200;
            padding: 10px;
            border-radius: 5px;
          }
        
        }
  
      }
  
    }
  
   
  }
}

@media (max-width: 1085px) {
    .redesSociais {
      & > .redesSociaisAll {  
        flex-direction: column;
        gap: 25px;
        & > .linksSeguir {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 45px;
    
          & > .introducao {
            width: 95%;
            display: flex;
            flex-direction: column;
      
          }
    
          & > .mappedSociais {
            margin-right: 10px;
            display: grid;
            grid-template-columns: repeat(3, auto);
            gap: 10px;
    
            & > a {
              text-decoration: none;
              display: flex;
              align-items: center;
              gap: 10px;
              color: $dark-blue-100;
              border: 1px solid $grey-200;
              padding: 10px;
              border-radius: 5px;
            }
          
          }
    
        }
    
      }
    
     
    }
  
}

@media (max-width: 791px) {
    .redesSociais {
      & > .redesSociaisAll {  
        flex-direction: column;
        gap: 25px;
        & > .linksSeguir {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 45px;
    
          & > .introducao {
            width: 95%;
            display: flex;
            flex-direction: column;
          }
    
          & > .mappedSociais {
            margin-right: 10px;
            display: grid;
            grid-template-columns: repeat(2, auto);
            gap: 10px;
            align-items: center;
    
            & > a {
              text-decoration: none;
              display: flex;
              align-items: center;
              gap: 10px;
              color: $dark-blue-100;
              border: 1px solid $grey-200;
              padding: 10px;
              border-radius: 5px;
            }
          
          }
    
        }
    
      }
    }
}

@media (max-width: 551px) {
  .redesSociais {
    
    & > .redesSociaisAll {  
      flex-direction: column;
      gap: 25px;
      justify-content: center;
      & > .linksSeguir {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 45px;
  
        & > .introducao {
          width: 100%;
          display: flex;
          flex-direction: column;
        }
  
        & > .mappedSociais {
          // margin-right: 10px;
          display: grid;
          grid-template-columns: repeat(1, auto);
          gap: 10px;
          align-items: center;
  
          & > a {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            color: $dark-blue-100;
            border: 1px solid $grey-200;
            padding: 10px;
            border-radius: 5px;
          }
        
        }
  
      }

      .img {
        max-width: 160%;
        height: auto;
      }
  
    }
  }
}

@media (max-width: 351px) {
  .redesSociais {
    
    & > .redesSociaisAll {  
      flex-direction: column;
      gap: 25px;
      justify-content: center;
      & > .linksSeguir {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 45px;
  
        & > .introducao {
          width: 100%;
          display: flex;
          flex-direction: column;
        }
  
        & > .mappedSociais {
          // margin-right: 10px;
          display: grid;
          grid-template-columns: repeat(1, auto);
          gap: 10px;
          align-items: center;
  
          & > a {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            color: $dark-blue-100;
            border: 1px solid $grey-200;
            padding: 10px;
            border-radius: 5px;
          }
        
        }
  
      }

      .img {
        display: none;
      }
  
    }
  }
}