.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.italicTiny {
  font-family: "IBM Plex Sans Italic 100";
  font-weight: 500;

}

.boldHigher {
  font-weight: 700;

}

.imgBannerPublicacoes {
  background-image: url("/images/carousel/banner-publicacoes.webp");
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;

  & > div {
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: xx-large;
    width: 23%;
    color: #fff;
  }
}

.imgCaraGravata {
  background-image: url("/images/carousel/cara-de-gravata.webp");
  background-position: center;
  background-size: cover;
  background-position: 60%;
  width: 100%;

  & > div {
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: xx-large;
    width: 30%;
    color: #fff;
  }

}

.imgDuasConversando {
  background-image: url("/images/carousel/duas-pessoas-conversando.webp");
  background-position: center;
  background-size: cover;
  width: 100%;
  
  & > span {
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: xx-large;
    width: 21%;
    color: #fff;
  }
}

.imgHomemTelefone {
  background-image: url("/images/carousel/homem-no-telefone.webp");
  background-position: center;
  background-size: cover;
  width: 100%;

  & > div{
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: xx-large;
    width: 28%;
    color: #fff;

    & > span {

    }
  }
}

.imgMao {
  background-image: url("/images/carousel/mao.webp");
  background-position: center;
  background-size: cover;
  width: 100%;

  & > div {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 25px;
    width: 20%;
    color: #fff;

    > p {
      margin-top: 10px;
    }
  }


}

.imgMarcia {
  background-image: url("/images/carousel/marcia.webp");
  background-position: 40%;
  background-size: cover;
  width: 100%;
}

.imgModelTresPessoas {
  background-image: url("/images/carousel/model-tres-pessoas.webp");
  background-position: center;
  background-size: cover;
  width: 100%;

  & > div {
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 25px;
    width: 20%;
    color: #fff;

    > p {
      margin-bottom: 20px;
    }
  }

}

.imgModel {
  background-image: url("/images/carousel/model.webp");
  background-position: center;
  background-size: cover;
  width: 100%;

  & > div {
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 25px;
    width: 30%;
    color: #fff;

    > p {
      margin-bottom: 10px;
    }
  }


}

.imgPublico {
  background-image: url("/images/carousel/publico.webp");
  background-position: center;
  background-size: cover;
  width: 100%;

  & > div{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: xx-large;
    width: 28%;
    text-align: center;
    color: #fff;

    & > span {

    }
  }

}


.carouselSpace {
  height: 400px;
  max-height: 400px;
  min-width: 100vw;
  margin-top: -1rem;
  position: relative;

  & > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 25px;
    color: rgba(white, 0.4);
    transition: .2s ease all;

    &:hover {
      color: rgba(white, 1);
    }

  }

  & > .slideToNextItem {
    position: absolute;
    bottom: 40%;
    right: 2%;
  }

  & > .slideToPrevItem {
    position: absolute;
    bottom: 40%;
    left: 2%;
    z-index: 10;

    
  }
}

.imgCarousel {
  width: 100%;
  height: auto;
  min-height: 300px;
  object-fit: cover;
}

@media (max-width: 982px) {
  .imgCarousel{
    // height: ;
    // width: 100%;
    height: auto;
    min-width: 100%;
    // -moz-transform: scaleX(-1);
    // -o-transform: scaleX(-1);
    // -webkit-transform: scaleX(-1);
    // transform: scaleX(-1);
    
  }
}

