
@use '_index.scss' as *;

.titleDarkBlue {
  color: $dark-blue-100;
  font-weight: 700;
  font-size: 30px;
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.italicTiny {
  font-family: "IBM Plex Sans Italic 100";
  font-weight: 500;
}

.boldHigher {
  font-weight: 700;
}

.carouselSpace {
  height: 400px;
  max-height: 400px;
  min-width: 100vw;
  margin-top: -1rem;
  position: relative;

  & > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 25px;
    color: rgba(white, 0.4);
    transition: .2s ease all;
    

    &:hover {
      color: rgba(white, 1);
    }

  }

  & > .slideToNextItem {
    position: absolute;
    bottom: 40%;
    right: 2%;
  }

  & > .slideToPrevItem {
    position: absolute;
    bottom: 40%;
    left: 2%;
    z-index: 10;
  }
}

.imgCarousel {
  width: 100%;
  height: auto;
  min-height: 300px;
  object-fit: cover;
}

.imgBannerPublicacoes {
  background-image: url("/images/carousel/banner-publicacoes.webp");
  background-position: center;
  background-size: cover;
  min-width: 100vw;
  position: relative;

  & > div {
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: xx-large;
    width: 23%;
    color: #fff;
  }
}

.imgCaraGravata {
  background-image: url("/images/carousel/cara-de-gravata.webp");
  background-position: center;
  background-size: cover;
  background-position: 60%;
  width: 100%;

  & > div {
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: xx-large;
    width: 30%;
    color: #fff;
  }

}

.imgDuasConversando {
  background-image: url("/images/carousel/duas-pessoas-conversando.webp");
  background-position: center;
  background-size: cover;
  width: 100%;
  
  & > span {
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: xx-large;
    width: 21%;
    color: #fff;
  }
}

.imgHomemTelefone {
  background-image: url("/images/carousel/homem-no-telefone.webp");
  background-position: center;
  background-size: cover;
  width: 100%;

  & > div{
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: xx-large;
    width: 28%;
    color: #fff;

  }
}

.imgMao {
  background-image: url("/images/carousel/mao.webp");
  background-position: center;
  background-size: cover;
  width: 100%;

  & > div {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 25px;
    width: 20%;
    color: #fff;

    > p {
      margin-top: 10px;
    }
  }


}

.imgMarcia {
  background-image: url("/images/carousel/marcia.webp");
  background-position: 40%;
  background-size: cover;
  width: 100%;
}

.imgModelTresPessoas {
  background-image: url("/images/carousel/model-tres-pessoas.webp");
  background-position: center;
  background-size: cover;
  width: 100%;

  & > div {
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 25px;
    width: 20%;
    color: #fff;

    > p {
      margin-bottom: 20px;
    }
  }

}

.imgModel {
  background-image: url("/images/carousel/model.webp");
  background-position: center;
  background-size: cover;
  width: 100%;

  & > div {
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 25px;
    width: 30%;
    color: #fff;

    > p {
      margin-bottom: 10px;
    }
  }


}

.imgPublico {
  background-image: url("/images/carousel/publico.webp");
  background-position: center;
  background-size: cover;
  width: 100%;

  & > div{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: xx-large;
    width: 28%;
    text-align: center;
    color: #fff;

    > button {
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 20px ;
    }
  }

}

.quemsomos {
  background-color: $dark-blue-2;
  padding: 60px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  word-break: keep-all;
  position: relative;

  & > .descricao, .foto {
    width: 50%;
  }

  & > .descricao > h1 {
    width: 90%;
    color: $dark-blue-100;
    font-weight: 700;
    font-size: 30px;
  }

  hr {
    height: 3px;
    width: 50px;
    background-color: $blue-100;
    border: none;
    margin-block: 20px;
    // margin-top: 10px;
  }

  p {
    font-size: 15px;
    color: $grey-400;
    margin-right: 30px;
  }

  .descricaoPt2 {
    margin-top: 25px;
  }

  .foto {
    & > img {
      min-width: 100%;
      height: auto;
    }
  }

  .icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: $dark-blue-100;
    cursor: pointer;
    transition: .2s linear all;

    &:hover {
      color: $dark-blue-black;
    }
  }
}

.clientesContribuintes {
  padding: 60px 100px;
  display: flex;
  flex-direction: column;
  word-break: keep-all;
  padding: 60px 0 60px 243px;

  & > h1 {
    display: block;
    margin-bottom: 15px;
  }

  p {
    font-size: 15px;
    color: $grey-400;
    margin-right: 30px;
  }

  & > .spaceTitleCarousel {
    display: flex;


    & > .explicacao {
      width: 35%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .carouselAll {
      width: 65%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;

      .carousel {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      & > .controles {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 20px;
        user-select: none;
        
        & > .arrowLeft, .arrowRight {
          width: 30px;
          height: 30px;
          padding: 3px 3px;
          font-size: 20px;
          background-color: $dark-blue-2;
          color: $dark-blue-100;
          cursor: pointer;
        }

        & > span {
          color: $grey-300;
          font-size: 14px;
          user-select: none;
        }
      }
    }
  }
}


.carouselParceirosItem {
  display: flex;
  justify-content: center;
  align-items: center;
}



















































// ----------------- CAROUSEL ----------------- //

@media (max-width: 982px) {
  .imgCarousel{
    height: auto;
    min-width: 100%;
  }
}

// BANNER PUBLICAÇÕES
@media (max-width: 1130px) {
  .imgBannerPublicacoes {
    & > div {
      left: 10%;
      width: 40%;
    }
  }
  
}

@media (max-width: 666px) {
  .imgBannerPublicacoes {
    background-image: 
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), 
      url("/images/carousel/banner-publicacoes.webp");
  // opacity: 0.6;

    & > div { 
      // background-color: #fff;
      top: 50%;
      transform: translateY(-20%);

      left: 10%;
      width: 80%;
      text-align: center;

      > button {
        margin-top: 20px ;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;

      }
    }
  }
}

@media (max-width: 409px) {
  .imgBannerPublicacoes {
    & > div {
      left: 10%;
      top: 35%;
      // background-color: #fff;
    }
  }
  
}

// HOMEM DE GRAVATA
@media (max-width: 1069px) {
  .imgCaraGravata {
  
    & > div {
      top: 30%;
    }
  
  }
}

@media (max-width: 857px) {
  .imgCaraGravata {
    & > div {
      top: 30%;
      left: 20%;
      width: 60%;
      // background-color: #fff;
      text-align: center;
      
      & > button {
        margin-top: 20px ;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@media (max-width: 481px) {
  .imgCaraGravata {
    & > div {
      top: 50%;
      left: 50%;
      transform: translateY(-50%);
      left: 20%;
      width: 60%;
      text-align: center;
      
      & > button {
        margin-top: 20px ;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
      }
    }
  }
}

// PESSOAS CONVERSANDO
@media (max-width: 1162px) {
  .imgDuasConversando {
    & > span {
      top: 40%;
      width: 25%;

      > button {
        margin-top: 20px ;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
      }
    }
  }
}

@media (max-width: 972px) {
  .imgDuasConversando {
    & > span {
      top: 40%;
      width:35%;

      > button {
        margin-top: 20px ;
        position: absolute;
        left: 40%;
        transform: translateX(-50%);
        width: 80%;

      }
    }
  }
}

@media (max-width: 872px) {
  .imgDuasConversando {
    & > span {
      top: 40%;
      width: 45%;

      & > button {
        margin-top: 20px ;
        position: absolute;
        left: 40%;
        transform: translateX(-50%);
        width: 80%;

      }
    }
  }
}

@media (max-width: 686px) {
  .imgDuasConversando {
    & > span {
      top: 30%;
      width: 70%;
      text-align: center;

      & > button {
        margin-top: 20px ;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;

      }
    }
  }
}

// HOMEM NO TELEFONE
@media (max-width: 1320px) {
  .imgHomemTelefone {
    width: 100%;
  
    & > div{
      position: absolute;
      top: 40%;
      left: 20%;
      font-size: xx-large;
      width: 35%;
      color: #fff;
    }
  }
}

@media (max-width: 1059px) {
  .imgHomemTelefone {
    width: 100%;
  
    & > div{
      top: 40%;
      left: 20%;
      width: 45%;
    }
  }
}

@media (max-width: 824px) {
  .imgHomemTelefone {
    width: 100%;
  
    & > div{
      top: 25%;
      left: 20%;
      width: 70%;

      > button {
        margin-top: 10px;
      }
    }
  }
}

// RELÓGIO
@media (max-width: 1341px) {
  .imgMao {
  
    & > div {
      top: 30%;
      left: 20%;
      width:30%;
  
      > p {
        margin-top: 10px;
      }
    }
  
  
  }
}

@media (max-width: 889px) {
  .imgMao {
  
    & > div {
      top: 30%;
      left: 20%;
      width: 45%;
  
      > p {
        margin-top: 10px;
      }
    }
  
  
  }
}

@media (max-width: 585px) {
  .imgMao {
  
    & > div {
      top: 25%;
      left: 20%;
      width: 70%;
  
      > p {
        margin-top: 10px;
      }
    }
  
  
  }
}

@media (max-width: 381px) {
  .imgMao {
  
    & > div {
      top: 25%;
      left: 15%;
      width: 78%;
      text-align: center;
      font-size: 22px;
  
      > p {
        margin-top: 10px;
      }
    }  
  }
}

// MARCIA

// TRES PESSOAS
@media (max-width: 1145px) {
  .imgModelTresPessoas {
    & > div {
      top: 40%;
      left: 20%;
      width: 25%;
  
      > p {
        margin-bottom: 20px;
      }
    }
  
  }
}

@media (max-width: 917px) {
  .imgModelTresPessoas {
    & > div {
      top: 40%;
      left: 20%;
      width: 30%;
  
      > p {
        margin-bottom: 20px;
      }
    }
  
  }
}

@media (max-width: 621px) {
  .imgModelTresPessoas {
    & > div {
      top: 40%;
      left: 20%;
      width: 40%;
  
      > p {
        margin-bottom: 20px;
      }
    }
  
  }
}

@media (max-width: 457px) {
  .imgModelTresPessoas {
    & > div {
      top: 40%;
      left: 20%;
      width: 50%;
  
      > p {
        margin-bottom: 20px;
      }
    }
  
  }
}

@media (max-width: 365px) {
  .imgModelTresPessoas {
    & > div {
      top: 34%;
      left: 20%;
      width: 60%;
    }
  
  }
}

// TELA PRINCIPAL MÃO NO TABLET
@media (max-width: 997px) {
  .imgModel {

    & > div {
      left: 20%;
      width: 35%;
  
      > p {
        margin-bottom: 10px;
      }
    }
  
  
  }
}

@media (max-width: 997px) {
  .imgModel {

    & > div {
      left: 20%;
      width: 35%;
    }
  }
}

@media (max-width: 849px) {
  .imgModel {

    & > div {
      left: 20%;
      width: 43%;
    }
  }
}

@media (max-width: 697px) {
  .imgModel {

    & > div {
      left: 20%;
      width: 50%;
    }
  }
}

@media (max-width: 505px) {
  .imgModel {

    & > div {
      top: 35%;
      left: 20%;
      width: 50%;
    }
  }
}

@media (max-width: 409px) {
  .imgModel {

    & > div {
      top: 30%;
      left: 20%;
      width: 60%;
    }
  }
}

// PALESTRA PUBLICO
@media (max-width: 1319px) {
  .imgPublico {
    & > div {
      top: 40%;
      left: 50%;
      width: 35%;
    }
  
  }
}

@media (max-width: 1071px) {
  .imgPublico {
    & > div {
      top: 40%;
      left: 50%;
      width: 40%;
    }
  
  }
}

@media (max-width: 899px) {
  .imgPublico {
    & > div {
      top: 40%;
      left: 50%;
      width: 60%;
    }
  }
}

@media (max-width: 599px) {
  .imgPublico {
    & > div {
      top: 40%;
      left: 50%;
      width: 70%;
      // background-color: #fff;
    }
  }
}

@media (max-width: 519px) {
  .imgPublico {
    & > div {
      top: 40%;
      left: 50%;
      width: 70%;
       > button {
        width: 70%;
       }
    }
  }
}

@media (max-width: 319px) {
  .imgPublico {
    & > div {
      top: 40%;
      left: 50%;
      width: 70%;
      
       > button {
        width: 100%;
       }
    }
  }
}

// QUEM SOMOS

@media (max-width: 1904px) {
  .quemsomos {
    padding: 60px 517px;
  }
}

@media (max-width: 1700px) {
  .quemsomos {
    padding: 60px 417px;
  }
}

@media (max-width: 1413px) {
  .quemsomos {
    background-color: $dark-blue-2;
    // background-color: red;
    padding: 60px 243px;
  }
}

@media (max-width: 1173px) {
  .quemsomos {
    background-color: $dark-blue-2;
    padding: 60px 130px;

    .foto {
      & > img {
        min-width: 100%;
        height: auto;
      }
    }
  }
}

@media (max-width: 1005px) {
  .quemsomos {
    background-color: $dark-blue-2;
    padding: 60px 90px;

    .foto {
      & > img {
        min-width: 100%;
        height: auto;
      }
    }
  }
}

@media (max-width: 971px) {
  .quemsomos {
    flex-direction: column;
    justify-content: center;
    word-break: keep-all;
  
    & > .descricao, .foto {
      width: 100%;
    }
  
    & > .descricao > h1 {
      width: 100%;
    }  
  
    .foto {
      margin-top: 40px;
      width: 100%;
      display: flex;
      justify-content: center;

      & > img {
        min-width: 300px;
        height: 500px;
      }
    }
  
  }
}

@media (max-width: 581px) {
  .quemsomos {
    padding: 60px 60px;
    // text-align: center;
  
    .foto {

      & > img {
        min-width: 200px;
        height: auto;
      }
    }
  
  }
}

@media (max-width: 315px) {
  .quemsomos {
    padding: 60px 30px;
    // text-align: center;
  
    .foto {

      & > img {
        min-width: 200px;
        height: auto;
      }
    }
  }
}

// COLABORADORES

@media (max-width: 1037px){
  .clientesContribuintes {
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    word-break: keep-all;
    padding: 60px 0 60px 130px;
  }
}

@media (max-width: 970px){
  .clientesContribuintes {
    padding: 60px 0 60px 90px;

  
    & > .spaceTitleCarousel {
      flex-direction: column;
      gap: 60px;
  
      & > .explicacao {
        width: 100%;
      }
  
      .carouselAll {
        width: 100%;
        justify-content: center;
        gap: 10px;
  
        & > .controles {
          justify-content: center;
          
          & > span {
            color: $grey-300;
            font-size: 14px;
            user-select: none;
          }
        }
      }
    }
  }
}


@media (max-width: 530px){
  .clientesContribuintes {
    padding: 60px 0 60px 55px;
  
    & > h1 {
      width: 80%;
    }

    & > .spaceTitleCarousel {
      flex-direction: column;
      gap: 60px;
  
      & > .explicacao {
        width: 100%;
      }
  
      .carouselAll {
        width: 100%;
        justify-content: center;
        gap: 10px;
  
        & > .controles {
          justify-content: center;
          
          & > span {
            color: $grey-300;
            font-size: 14px;
            user-select: none;
          }
        }
      }
    }
  }

  .carouselParceirosItem {
     & > img {
      width: 150px;
      height: 60px;
     }
  }
  
}

