@use '_index.scss' as *;

.content {
    background-image: url('../public/images/nossos-periodicos/header.webp');
    background-position: center;
    min-width: 100vw;
    height: 356.8px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .bluredBall {
        position: absolute;
        height: 60%;
        width: 20%;
        top: 0;
        left: 25%;
        border-radius: 50%;
        z-index: 0;
        background-color: #2676EF;
        filter: blur(7rem);
    }

    & > .headerContent {
        width: 30%;
        margin-left: 10%;
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        position: relative;

        & > h1 {
            color: white;
        }

        & > hr {
            width: 15%;
            height: 3px;
            background-color: $blue-100;
            border: 1px solid $blue-100;
        }

        & > p {
            color: white;
            margin-block: 5px;
        }

    }

}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & > .pageSize {
        width: 80%;
        margin-top: 4rem;
        margin-bottom: 4rem;

        & > .periodicos {

            display: grid;
            grid-template-columns: repeat(2, auto);
            gap: 40px;
            
            .left {
                
                h2 {
                    color: $dark-blue-100;
                    padding-bottom: 40px;

                }

                .dropdowns {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    
                    & > .individual {
                        display: flex;
                        align-items: center;
                        gap: 30px;

                        span {
                            text-align: right;
                            width: 20%;
                        }


                    }
                }

                .button {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;
                    padding-block: 40px;
                }
            }

            & > .periodicosAllMobile {
                width: 100%;
    
                h3 {
                    color: $dark-blue-100;
                    margin-top: 10px;
                    margin-bottom: 20px;
                }
    
                & > .periodicosDownload {
                    display: grid;
                    grid-template-columns: repeat(3, 33%);
                    padding: 15px;
    
                    & > .card {
                        // border: 1px solid $dark-blue-100;
                        background-color:$dark-blue-100;
                        color: white;
                        border-radius: 8px;
                        width: 90%;
                        height: 70px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        transition: .2s all ease-out;
    
                        &:hover {
                            transform: scale(1.02);
                        }
    
                        p { 
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 25px;
                            
                            svg {
                                font-size: 20px;
                                
                            }
                        }
    
                        
                    }
                }
            }

            .right {
                display: grid;
                grid-template-columns: repeat(2, 50%);
                justify-content: center;
                gap: 20px;
                .slc, .sam {
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    img {
                        // width: 284px;
                        height: auto;
                        max-width: 100%;
                    }

                    span {
                        display: block;
                        text-align: center;
                        padding-block: 15px;
                        width: 65%;
                    
                    }
                }

                .slc > span > strong {
                    color: $blue-100;

                }

                .sam > span > strong {
                    color: $orange-100;

                }
            }
        }

        & > .periodicosAllDesktop {
            width: 100%;

            h3 {
                color: $dark-blue-100;
                margin-top: 10px;
                margin-bottom: 20px;
            }

            & > .periodicosDownload {
                display: grid;
                grid-template-columns: repeat(3, 33%);
                padding: 15px;

                & > .card {
                    // border: 1px solid $dark-blue-100;
                    background-color:$dark-blue-100;
                    color: white;
                    border-radius: 8px;
                    width: 90%;
                    height: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: .2s all ease-out;

                    &:hover {
                        transform: scale(1.02);
                    }

                    p { 
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 25px;
                        
                        svg {
                            font-size: 20px;
                            
                        }
                    }

                    
                }
            }
        }

        

        & > .principaisSolucoesInovadoras {
            margin-block: 150px;
            height: auto;
            background-color: $dark-blue-100;
            border-radius: 16px;
            position: relative;
            display: grid;
            grid-template-columns: repeat(2, auto);
            justify-content: space-between;

            & > .bluredBall {
                position: absolute;
                height: 60%;
                width: 20%;
                top: 0;
                left: 50%;
                border-radius: 50%;
                // z-index: 0;
                background-color: #2676EF;
                filter: blur(7rem);
            }

            & > .imagem {


                & > img {
                    max-width: 100%;
                    height: auto;
                    position: absolute;
                    bottom: 0;
                    right: 6%;
                }
                
            }

            & > .descricao {
                width: 55%;
                padding: 6%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: white;
                gap: 40px;

                div {
                    display: flex;
                    gap: 10px;

                    svg {
                        border: 1px solid white;
                        border-radius: 5px;
                        min-width: 30px;
                        min-height: 30px;
                        padding: 6px;
                        display: inline-block;
                    }
                }

                button {
                    width: 60%;
                }

            }


        }

    }
}

@media (min-width: 1008px){
   .main {
        .pageSize {
            .periodicos {
                .periodicosAllMobile {
                    display: none;
                }
            }
        }
   }

   .errorsPeriodicosMobile {
        display: none;
   }
}

@media (max-width: 1145px) {
    .content {
        // background-image: url('../public/images/cursos-treinamentos/homem-sorrindo.webp');
        background-position: center;
        min-width: 100vw;
        height: 356.8px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        & > .headerContent {
            width: 40%;
            margin-left: 10%;
            margin-top: 3%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            position: relative;

        }

    }

    .main > .pageSize > .periodicos > .periodicosAllDesktop {
        display: none;
    }


}

@media (max-width: 1008px) {
    .main {
    
        & > .pageSize {
       
    
            & > .periodicos {
    
                display: grid;
                grid-template-columns: repeat(1, auto);
                
                .left {
                    
                    h2 {
                        color: $dark-blue-100;
                        text-align: center;
                    }
    
                    .dropdowns {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        gap: 20px;
                        
                        & > .individual {
    
                            span {
                                text-align: right;
                                width: 20%;
                            }
    
    
                        }
                    }

                    .button {
                        justify-content: center;
                    }

                }

                .periodicosAllMobile {
        
                    & > .periodicosDownload {
                        display: grid;
                        grid-template-columns: repeat(2, 50%);

                    }
                }
            }

            & > .periodicosAllDesktop {
                display: none;
            }

            & > .principaisSolucoesInovadoras {
    
                & > .imagem {
    
    
                    & > img {
                        bottom: 0;
                        right: 0%;
                    }
                    
                }
    
                & > .descricao {
                    width: 65%;

                    button {
                        width: 70%;
                    }
    
                }
    
    
            }
    
        }
    }

    .errorsPeriodicosDesktop {
        display: none;
    }
}

@media (max-width: 944px) {
    .main {
    
        & > .pageSize {
    
            & > .principaisSolucoesInovadoras {
    
                padding: 50px 0 30px 0;

                & > .imagem {
    
    
                    & > img {
                        bottom: 0;
                        right: 0%;
                    }
                    
                }
    
                & > .descricao {
                    width: 75%;

                    button {
                        width: 50%;
                    }

                    div {
                        width: 75%;
                    }
    
                }
    
    
            }
    
        }
    }
}



@media (max-width: 861px) {
    .main {
        .content {

            background-position: center;
            min-width: 100vw;
            height: 356.8px;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
    
            & > .headerContent {
                width: 60%;
            }
    
        }

        .pageSize {

            & > .principaisSolucoesInovadoras {
                grid-template-columns: repeat(1, 100%);
    
                & > .bluredBall {
                    position: absolute;
                    height: 60%;
                    width: 20%;
                    top: 0;
                    left: 50%;
                    border-radius: 50%;
                    // z-index: 0;
                    background-color: #2676EF;
                    filter: blur(7rem);
                }
    
                & > .imagem {
                    display: none;
                    
                }
    
                & > .descricao {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding-left: 0;
                    padding: 40px;
                    justify-content: center;
                    color: white;
                    gap: 40px;
                    align-items: center;
    
                    text-align: center;

    
                    button {
                        width: 60%;
                    }
    
                }
    
    
            }
        }


    }
    
}

@media (max-width: 700px) {
    .main {
    
        & > .pageSize {
       
    
            & > .periodicos {
    
                display: grid;
                grid-template-columns: repeat(1, auto);
                
                .right {
                    display: grid;
                    grid-template-columns: repeat(1, 100%);
                    justify-content: center;
                    gap: 20px;
                }

                .periodicosAllMobile {
                    & > .periodicosDownload {
                        display: grid;
                        grid-template-columns: repeat(1, 100%);
                        
                        & > .card {
                            // border: 1px solid $dark-blue-100;
                            border-radius: 8px;
                            width: 100%;
                            height: 70px;
                            text-decoration: none;

                
        
                            
                        }
                    }
                }
            }

            
    
        }
    }
}


@media (max-width: 625px) {

    .main {
        .content {
            background-position: center;
            min-width: 100vw;
            height: 356.8px;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
    
            & > .headerContent {
                width: 80%;
                // padding: 20px;
                margin-top: 3%;
                display: flex;
                flex-direction: column;
                gap: 15px;
                position: relative;
            }    
        }

        & > .pageSize {
    
            & > .principaisSolucoesInovadoras {
    
                & > .imagem {
    
    
                    & > img {
                        bottom: 0;
                        right: 0%;
                    }
                    
                }
    
                & > .descricao {
                    width: 100%;

                    button {
                        width: 100%;
                    }

                    div {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                    }
    
                }
    
    
            }
    
        }
    }

   
}

// @media (max-width: 625px) {
//     .content {
//         // background-image: url('../public/images/cursos-treinamentos/homem-sorrindo.webp');
//         background-position: center;
//         min-width: 100vw;
//         min-height: 356.8px;
//         height: auto;
//         max-height: 400px;

//         & > .headerContent {
//             width: 90%;
//             margin-left: 10%;
//             margin-top: 15%;
//             display: flex;
//             justify-content: center;

//             & > button {
//                 width: 70%;
//             }
//         }

//     }
// }
