@use '_index.scss' as *;


.divider {
    width: 80%;
    border: 1px solid $grey-200;    
}

.content {
    background-image: url("/images/solucoes-inovadoras/banner-orientacoes.webp");
    background-position: unset ;
    min-width: 100vw;
    height: 356.8px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    // .bluredBall {
    //     position: absolute;
    //     height: 60%;
    //     width: 20%;
    //     top: 0;
    //     left: 50%;
    //     border-radius: 50%;
    //     z-index: 0;
    //     background-color: $blue-100;
    //     filter: blur(7rem);
    // }

    & > .headerContent {
        width: 30%;
        margin-left: 10%;
        margin-top: 3%;
        display: flex;   
        flex-direction: column;
        gap: 15px;
        position: relative;
        // background-color: #fff;

        & > h1 {
            color: white;
        }

        & > hr {
            width: 15%;
            height: 3px;
            background-color: $blue-100;
            border: 1px solid $blue-100;
        }

        & > p {
            color: white;
            margin-block: 5px;
            width: 100%;
        }

        & > .buttonFrase {
            display: flex;   
            justify-content: space-between;
            gap: 20px;
            color: white;

            & > b {
                color: white;
                width: 50%;
            }

            & > button {
                width: 40%;
            }
            
        }
    }

}

.topicosOrientacoes {
    width: 80%;
    margin-block: 100px;

    & > .header {
        h1 {
            color: $dark-blue-100;
            margin-bottom: 20px;
        }

        p {
            color: rgba(black, 0.9);
            margin-bottom: 20px;
        }
        
        hr {
            width: 5%;
            height: 3px;
            background-color: $blue-100;
            border: 1px solid $blue-100;
            margin-bottom: 30px;
        }
    }

    & > .fullLista {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        // gap: 10px;

        & > .topicosLista {
            list-style-type: none;

            & > .listaInterna {
                width: 90%;
                display: flex;
                flex-direction: column;
                gap: 15px;

                p {
                    display: flex;
                    align-items: center;
                    color: $grey-500;
                    svg {
                        width: 20px;
                        min-width: 20px;
                        margin-right: 5px;
                        color: $blue-100;
                    }
                }
            }
        }
    }
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 

    & > .pageSize {
        width: 80%;
        margin-top: 4rem;
        margin-bottom: 4rem;
        height: auto;

        & .orientacoes {
            display: grid;
            grid-template-columns: repeat(2, 45%);
            gap: 20px;
            justify-content: center;
            align-items: center;

            & > .orientacao {
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                height: 350px;
                border-radius: 16px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 30px;
                // gap: 0px;
                overflow: hidden;

                & > .headerTipos {
                    display: flex;
                    gap: 10px;

                    & > span {
                        background-color: $blue-100;
                        padding: 8px;
                        border-radius: 4px;
                        color: white;
                        font-weight: 600;
                        line-height: 150%;
                        font-size: 14px;
                        text-overflow: ellipsis;
                    }
                }

                & > .descricao {
                    width: 90%;
                    height: 60%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    & > h2 {
                        color: white;
                    }

                    & > p {
                        color: white;
                    }
                }
            }

        }
        
    }

    & > .image {
        background-image: url("/images/solucoes-inovadoras/mao-segurando-bussola.webp");
        background-position: center;
        background-size: cover;
        height: auto;
        background-repeat: no-repeat;
        min-width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 130px;
        padding-block: 40px;
        & > .texto {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            

            hr {
                width: 15%;
                height: 3px;
                background-color: $blue-100;
                border: 1px solid $blue-100;
                margin-bottom: 10px;
            }  

            h1 {
                color: white;
                margin-bottom: 20px;
                width: 40%;
            }

            p {
                color: white;
                width: 40%;
                margin-bottom: 20px;
            }
        }
    }

    & > .topicosOrientacoes {
        width: 80%;
        margin-bottom: 100px;

        & > .header {
            h1 {
                color: $dark-blue-100;
                margin-bottom: 20px;
            }

            p {
                color: rgba(black, 0.9);
                margin-bottom: 20px;
            }
            
            hr {
                width: 5%;
                height: 3px;
                background-color: $blue-100;
                border: 1px solid $blue-100;
                margin-bottom: 30px;
            }
        }

        & > .fullLista {
            display: grid;
            grid-template-columns: repeat(4, 25%);
            // gap: 10px;

            & > .topicosLista {
                list-style-type: none;

                & > .listaInterna {
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    p {
                        display: flex;
                        align-items: center;
                        color: $grey-500;
                        svg {
                            width: 20px;
                            min-width: 20px;
                            margin-right: 5px;
                            color: $blue-100;
                        }
                    }
                }
            }
        }
    }

    & > .orientacoesTributarias {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 70px;


        & > .orientacaoSGPTributaria {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            height: 250px;
            margin-bottom: 40px;
            
    
            & > .textos {
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
    
                hr {
                    width: 20%;
                    height: 3px;
                    background-color: $blue-100;
                    border: 1px solid $blue-100;
                    margin-bottom: 10px;
                }  
    
                h1 {
                    color: $dark-blue-100;
                    margin-bottom: 20px;
                }
    
                p {
                    color: rgba(black, 0.9);
                    margin-bottom: 20px;
                }
    
                button {
                    width: 60%;
                }
            }
    
            & > .img {
                height: 100%;
                
                > img {
                    width: 343px;
                    max-width: 100%;
                    height: 235px;
                }
            }
        }
    }

    & > .assesoriaJuridicaInLoco {
        // margin-block: 60px;
        background-image: url("/images/solucoes-inovadoras/predio-vidro.webp");
        background-position: center;
        min-width: 100vw;
        height: 400.8px;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 130px;

        .texto {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            

            hr {
                width: 15%;
                height: 3px;
                background-color: $blue-100;
                border: 1px solid $blue-100;
                margin-bottom: 10px;
            }  

            h1 {
                color: white;
                margin-bottom: 20px;
                width: 40%;
            }

            p {
                color: white;
                width: 40%;
                margin-bottom: 20px;
            }
        }
    }

    & > .informacoesAssesoriaMentoria {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 70px;
        margin-top: 100px;


        & > .assesoriaLicitacoes, .mentoriaNovaLei {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 40px;
            height: auto;
            margin-bottom: 40px;
    
            & > .textos {
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
    
                hr {
                    width: 20%;
                    height: 3px;
                    background-color: $blue-100;
                    border: 1px solid $blue-100;
                    margin-bottom: 20px;
                }  
    
                h1 {
                    color: $dark-blue-100;
                    margin-bottom: 20px;
                }
    
                p {
                    color: rgba(black, 0.9);
                }
    
                button {
                    width: 80%;
                    margin-top: 20px;

                }
            }
    
            & > .img {
                height: 100%;
                position: relative;
            

                > img {
                    max-width: 100%;
                    height: auto;
                }

                b {
                    position: absolute;
                    bottom: 10%;
                    left: 10%;
                    font-size: 40px;
                    color: white;
                }

                .informacoes {
                    position: absolute; 
                    left: 10%;
                    top: 7%;
                    font-size: 12px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;

                    
                    & > span {
                        padding: 5px 7px;
                        background-color: $blue-100;
                        color: white;
                        font-weight: bold;
                        border-radius: 5px;
                    }
                }
            }
        }

        & > .assesoriaLicitacoes {
            & > .textos {
                button {
                    width: 90%;
                }
            }
        }
    }

    & > .mbaLicitacoesContratacoesADM {
        margin-block: 80px;
        width: 70%;
        
        h1 {
            color: $dark-blue-100;
        }

        hr {
            width: 10%;
            height: 3px;
            background-color: $blue-100;
            border: 1px solid $blue-100;
            margin-top: 10px;
            margin-bottom: 30px;
        } 

        & > div {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 70px;
            h3 {
                color: $dark-blue-100;
            }
    
        }

        .objetivosHorarios {
            display: grid;
            grid-template-columns: repeat(2, auto);
            gap: 50px;
            justify-content: space-around;

            & > div {
                width: 90%;

                > h3 {
                    color: $dark-blue-100;
                    margin-bottom: 20px;
                }

                > p, li {
                    color: $grey-500;
                }

                ul {
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    > li {
                        display: flex;
                        justify-content: flex-start;

                        gap: 10px;

                        > svg {
                            width: 20px;
                            min-width: 20px;
                            // margin-right: 5px;
                            color: $blue-100;
                            margin-top: 1%;
                            
                        }
                    }
                }

                button {
                    margin-block: 20px;
                }
            }

            & > .img {
                height: 100%;
                position: relative;
                // display: flex;
            

                > img {
                    max-width: 100%;
                    height: auto;
                }

                b {
                    position: absolute;
                    bottom: 20%;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 40px;
                    color: white;
                }

                .informacoes {
                    position: absolute; 
                    left: 50%;
                    transform: translateX(-50%);
                    top: 7%;
                    font-size: 12px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    justify-content: center;
                    
                    & > span {
                        padding: 5px 7px;
                        background-color: $blue-100;
                        color: white;
                        font-weight: bold;
                        border-radius: 5px;
                    }
                }
            }
            
        }
    }

    & > .indicacoes {
        background-image: url('../public/images/solucoes-inovadoras/mulher-olhando-pro-lado.webp');
        background-position: center;
        min-width: 100vw;
        height: 400.8px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & > .contentIndicacoes {
            width: 80%;

            hr {
                width: 5%;
                height: 3px;
                background-color: $blue-100;
                border: 1px solid $blue-100;
                margin-bottom: 10px;
            }  

            h1 {
                color: white;
                margin-bottom: 20px;
                width: 40%;
            }

            & .listaExplicativa {
                display: flex;
                gap: 20px;

                ul {
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    color: white;
                    font-size: 14px;
                }
            }
        }

    }
} 


@media (max-width: 1237px) {
    .main {
        & > .indicacoes {
            height: 400.8px;
    
            & > .contentIndicacoes {
                width: 80%;
                
                h1 {
                    width: 45%;
                }

                & .listaExplicativa {
                    display: flex;
                    gap: 20px;
    
                    ul {
                        list-style-type: none;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        color: white;
                        font-size: 14px;
                    }
                }
            }
    
        }
    }
}


@media (min-width: 1145px){
    .main {
        & > .content {
            background-position: unset;
            min-width: 100vw;
            height: 356.8px;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
        
            & > .headerContent {
                width: 40%;
                margin-left: 10%;
                margin-top: 3%;
                display: flex;   
                flex-direction: column;
                gap: 15px;
                position: relative;
    
            }
        
        }
    }
}

@media (max-width: 1145px) {
    .main {
      

        .image {
            .texto {
                width: 80%;
    
                h1 {
                    color: white;
                    margin-bottom: 20px;
                    width: 70%;
                }
    
                p {
                    color: white;
                    width: 70%;
                    margin-bottom: 20px;
                }
            }
        }
    
        & > .topicosOrientacoes {
            & > .fullLista {
                display: grid;
                grid-template-columns: repeat(2, 50%);
                gap: px;
    
                & > .topicosLista {
                    list-style-type: none;
                    margin-bottom: 50px;
                }
            }
        }

        & > .assesoriaJuridicaInLoco {
            margin-block: 60px;
            background-image: url("/images/solucoes-inovadoras/predio-vidro.webp");
            background-position: center;
            min-width: 100vw;
            height: 400.8px;
    
            .texto {
                width: 80%;
    
                h1 {
                    color: white;
                    margin-bottom: 20px;
                    width: 70%;
                }
    
                p {
                    color: white;
                    width: 70%;
                    margin-bottom: 20px;
                }
            }
        }

        & > .informacoesAssesoriaMentoria {
    
            & > .assesoriaLicitacoes, .mentoriaNovaLei {
        
                & > .textos {
                    width: 50%;
        
                    button {
                        width: 100%;
                        margin-top: 20px;
    
                    }
                }
        
            }
        }

        & > .mbaLicitacoesContratacoesADM {
            margin-block: 80px;
            width: 80%;
    
            .objetivosHorarios {
                // display: grid;
                // grid-template-columns: repeat(2, 50%);
                // gap: 50px;
    
                & > div {
                    width: 90%;
    
                    > h3 {
                        color: $dark-blue-100;
                        margin-bottom: 20px;
                    }
    
                    > p, li {
                        color: $grey-500;
                    }


                }
                
            }
        }

        & > .indicacoes {
            height: 400.8px;
    
            & > .contentIndicacoes {
                width: 80%;
                
                h1 {
                    width: 55%;
                }
                
                & .listaExplicativa {
                    display: flex;
                    gap: 20px;
    
                    ul {
                        list-style-type: none;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        color: white;
                        font-size: 14px;
                    }
                }
            }
    
        }
    }
}

@media (max-width: 920px) {
    .main {
        & > .informacoesAssesoriaMentoria {
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 70px;
    
    
            & > .assesoriaLicitacoes, .mentoriaNovaLei {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                gap: 40px;
                height: auto;
                margin-bottom: 40px;
                width: 100%;
        
                & > .textos {
                    width: 100%;
    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    // align-items: center;
        
                    hr {
                        width: 10%;
                        height: 3px;
                        background-color: $blue-100;
                        border: 1px solid $blue-100;
                        margin-bottom: 20px;
                    } 
        
                    button {
                        width: 50%;
                        margin-top: 20px;
                        margin-left: 0;
                    }
                }
        
                & > .img {
    
                    > img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }

            & > .mentoriaNovaLei  {
                flex-direction: column-reverse;
            }
    
        }

        & > .indicacoes {
            height: 400.8px;
    
            & > .contentIndicacoes {
                width: 80%;
                
                h1 {
                    width: 63%;
                }
            
            }
    
        }
    }
}

@media (max-width: 861px) {
    .content {
        background-position: center;
        min-width: 100vw;
        height: 356.8px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    
        & > .headerContent {
            width: 60%;
        }
    }

    .main {
        & > .indicacoes {
            height: 400.8px;
    
            & > .contentIndicacoes {
                width: 80%;
                
                h1 {
                    width: 65%;
                }
                
                & .listaExplicativa {
                    display: flex;
                    gap: 20px;
    
                    ul {
                        list-style-type: none;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        color: white;
                        font-size: 14px;
                    }
                }
            }
    
        }
    }
}

@media (max-width: 625px) {
    .content {
        // background-image: url('../public/images/cursos-treinamentos/homem-sorrindo.webp');
        background-position: right;
        min-width: 100vw;
        height: 356.8px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative; 
    
        & > .headerContent {
            width: 90%;
            margin-left: 10%;
            margin-top: 3%;
            display: flex;   
            flex-direction: column;
            gap: 15px;
            position: relative;

            & > button {
                width: 40%;
            }
        }
    
    }
}

@media (max-width: 625px) {
    .content {
        // background-image: url('../public/images/cursos-treinamentos/homem-sorrindo.webp');
        background-position: center left;
        min-width: 100vw;
        min-height: 356.8px;
        height: auto;
        max-height: 400px;
    
        & > .headerContent {
            width: 90%;
            margin-left: 10%;
            margin-top: 15%;
            display: flex;   
            justify-content: center;
            
            & > button {
                width: 70%;
            }
        }
    
    }

    .main {
        & > .indicacoes {
            height: 400.8px;
    
            & > .contentIndicacoes {
                width: 80%;
                
                h1 {
                    width: 100%;
                    margin-bottom: 40px;
                }
                
                & .listaExplicativa {
                    display: flex;
                    gap: 20px;
    
                    ul {
                        list-style-type: none;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        color: white;
                        font-size: 14px;
                    }
                }
            }
    
        }
    }
}

@media (max-width: 1057px) {
    .main {
    
        & > .pageSize {
           
    
            & .orientacoes {
    
                & > .orientacao {
                    min-height: 350px;
                    height: auto;
                    grid-template-columns: repeat(2, 45%);
                    gap: 20px;
    
                    & > .headerTipos {
                        display: flex;
                        gap: 10px;
                        flex-direction: column;
                    }
    
                    & > .descricao {
                        width: 100%;
                    }
                }
    
            }
            
        }
    } 
    
}

@media (max-width: 940px) {
    .main {
    
        & > .pageSize {
    
            & .orientacoes {
                grid-template-columns: repeat(1, 100%);
    
                & > .orientacao {
                    min-height: 350px;
                    height: auto;
                    gap: 20px;
    
                    & > .headerTipos {
                        display: flex;
                        gap: 10px;
                        flex-direction: row;

                    }
    
                    & > .descricao {
                        width: 100%;
                    }
                }
    
            }
            
        }
    } 
    
}

@media (max-width: 874px) {
    .main {
        & > .orientacoesTributarias {
            gap: 200px;
            margin-bottom: 50px;
            & > .orientacaoSGPTributaria {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 40px;
                height: 300px;

                
                &:last-child {
                    flex-direction: column-reverse;
                }
                
                & > .textos {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
        
                    hr {
                        width: 10%;
                        height: 3px;
                        background-color: $blue-100;
                        border: 1px solid $blue-100;
                        margin-bottom: 10px;
                    }  
        
                    h1 {
                        color: $dark-blue-100;
                        margin-bottom: 20px;
                    }
        
                    p {
                        color: rgba(black, 0.9);
                        margin-bottom: 20px;
                    }
        
                    button {
                        width: 40%;
                    }
                }
        
                & > .img {
                    height: 100%;
                    
                    > img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
    
}

@media (max-width: 737px) {
    .main {

        .image {
            padding: 40px;
    
            .texto {
                width: 100%;
    
                h1 {
                    color: white;
                    margin-bottom: 20px;
                    width: 100%;
                }
    
                p {
                    color: white;
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
        & > .topicosOrientacoes {

            & > .header {
                hr {
                    width: 20%;
                }
            }

            & > .fullLista {
                display: grid;
                grid-template-columns: repeat(1, 100%);
                gap: 0;
                & > .topicosLista {
                    list-style-type: none;
                    // margin-bottom: 50px;
                }
            }
        }

        & > .assesoriaJuridicaInLoco {
            margin-block: 60px;
            background-image: url("/images/solucoes-inovadoras/predio-vidro.webp");
            background-position: center;
            min-width: 100vw;
            height: auto;
            margin: 0 auto;
            padding: 40px;
    
            .texto {
                width: 100%;
    
                h1 {
                    color: white;
                    margin-bottom: 20px;
                    width: 100%;
                }
    
                p {
                    color: white;
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }

        & > .mbaLicitacoesContratacoesADM {
            margin-block: 80px;
            width: 80%;
    
            .objetivosHorarios {
                display: grid;
                grid-template-columns: repeat(1, 100%);
                gap: 50px;
    
                & > div {
                    width: 100%;
                    justify-content: center;
    
                    > h3 {
                        color: $dark-blue-100;
                        margin-bottom: 20px;
                    }
    
                    > p, li {
                        color: $grey-500;
                    }


                }

                & > .img {
                    // width: fit-content;
                    display: flex;
                    justify-content: center; 
                }
                
            }
        }
    }
}

@media (max-width: 684px) {
    .main {
        & > .orientacoesTributarias {
            
            & > .orientacaoSGPTributaria {
                
                & > .textos {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
        
                    button {
                        width: 60%;
                    }
                }
            }
        }
    }    
}

@media (max-width: 626px){
    .content {
        & > .headerContent {
            width: 80%;
        }
    }
}

@media (max-width: 490px) {
    .main {
    
        & > .content {
            & > .headerContent {
                width: 80%;
                
                & > .buttonFrase {
                 
                }
            }
        }

        & > .pageSize {
    
            & .orientacoes {
                grid-template-columns: repeat(1, 100%);
    
                & > .orientacao {
                    min-height: 350px;
                    height: auto;
                    gap: 20px;
    
                    & > .headerTipos {
                        display: flex;
                        gap: 10px;
                        flex-direction: column;
                        width: 70%; 


                        & > p {
                            width: auto;
                        }
                    }
    
                    & > .descricao {
                        width: 100%;
                    }
                }
    
            }
            
        }
        
        & > .orientacoesTributarias {
            
            & > .orientacaoSGPTributaria {
                
                & > .textos {

                    button {
                        width: 100%;
                    }
                }
            }
        }    

        & > .informacoesAssesoriaMentoria {
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 70px;
    
    
            & > .assesoriaLicitacoes, .mentoriaNovaLei {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                gap: 40px;
                height: auto;
                margin-bottom: 40px;
                width: 100%;
        
                & > .textos {
                    width: 100%;
    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    // align-items: center;
        
                    hr {
                        width: 10%;
                        height: 3px;
                        background-color: $blue-100;
                        border: 1px solid $blue-100;
                        margin-bottom: 20px;
                    } 
        
                    button {
                        width: 100%;
                        margin-top: 20px;
                        margin-left: 0;
                    }
                }
        
                & > .img {
    
                    > img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }

            & > .mentoriaNovaLei  {
                flex-direction: column-reverse;
            }
    
        }

        & > .mbaLicitacoesContratacoesADM {
            margin-block: 80px;
            width: 80%;
    
            .objetivosHorarios {
                display: grid;
                grid-template-columns: repeat(1, 100%);
                gap: 50px;
    
                & > div {
                    width: 100%;
                    justify-content: center;
    
                    > h3 {
                        color: $dark-blue-100;
                        margin-bottom: 20px;
                    }
    
                    > p, li {
                        color: $grey-500;
                    }

                    > ul > li > button {
                        width: 100%;
                    }

                    


                }

                & > .img {
                    // width: fit-content;
                    display: flex;
                    justify-content: center; 
                }
                
            }
        }

        & > .indicacoes {
            height: auto;
    
            & > .contentIndicacoes {
                width: 80%;
                
                hr {
                    margin-top: 20px;
                    width: 40px;
                }

                h1 {
                    width: 100%;
                    margin-bottom: 30px;
                }
                
                & .listaExplicativa {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    margin-bottom: 40px;

                    ul {
                        font-size: 12px;
                    }
                }
            }
    
        }
        
    } 
}

@media (max-width: 290px){
    .content {
        & > .headerContent {
            width: 80%;

            .buttonFrase {
                display: none;
            }
        }
    }
}
