@use '_index.scss' as *;

.content {
    background-color: $dark-blue-black;
    background-position: center;
    min-width: 100vw;
    height: 356.8px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .bluredBall {
        position: absolute;
        height: 60%;
        width: 20%;
        top: 0;
        left: 50%;
        border-radius: 50%;
        z-index: 0;
        background-color: $blue-100;
        filter: blur(7rem);
    }

    & > .headerContent {
        width: 30%;
        margin-left: 10%;
        margin-top: 3%;
        display: flex;   
        flex-direction: column;
        gap: 15px;
        position: relative;
        // background-color: #fff;

        & > h1 {
            color: white;
        }

        & > hr {
            width: 15%;
            height: 3px;
            background-color: $blue-100;
            border: 1px solid $blue-100;
        }

        & > p {
            color: white;
            margin-block: 5px;
            width: 100%;
        }

        & > .buttonFrase {
            display: flex;   
            justify-content: space-between;
            gap: 20px;

            & > b {
                color: white;
                width: 50%;
            }

            & > button {
                width: 40%;
            }
            
        }
    }

}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 

    & > .pageSize {
        width: 80%;
        margin-top: 4rem;
        margin-bottom: 4rem;

        & .orientacoes {
            display: grid;
            grid-template-columns: repeat(2, 45%);
            gap: 20px;
            justify-content: center;
            align-items: center;

            & > .orientacao {
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                height: 350px;
                border-radius: 16px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 30px;
                // gap: 0px;
                overflow: hidden;

                & > .headerTipos {
                    display: flex;
                    gap: 10px;

                    & > span {
                        background-color: $blue-100;
                        padding: 8px;
                        border-radius: 4px;
                        color: white;
                        font-weight: 600;
                        line-height: 150%;
                        font-size: 14px;
                        text-overflow: ellipsis;
                    }
                }

                & > .descricao {
                    width: 80%;
                    height: 60%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    & > h2 {
                        color: white;
                    }

                    & > p {
                        color: white;
                    }
                }
            }

        }
        
    }

    & > .image {
        background-image: url("/images/solucoes-inovadoras/mao-segurando-bussola.webp");
        background-position: center;
        background-size: cover;
        height: 500px;
        background-repeat: no-repeat;
        min-width: 100vw;
        margin-bottom: 100px;
    }
} 



// header

@media (max-width: 1145px) {
    .content {
        // background-image: url('../public/images/cursos-treinamentos/homem-sorrindo.webp');
        background-position: center;
        min-width: 100vw;
        height: 356.8px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    
        & > .headerContent {
            width: 40%;
            margin-left: 10%;
            margin-top: 3%;
            display: flex;   
            flex-direction: column;
            gap: 15px;
            position: relative;
    
        }
    
    }
}


@media (max-width: 861px) {
    .content {

        background-position: center;
        min-width: 100vw;
        height: 356.8px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    
        & > .headerContent {
            width: 60%;
    
        }
    
    }
}


@media (max-width: 625px) {
    .content {
        // background-image: url('../public/images/cursos-treinamentos/homem-sorrindo.webp');
        background-position: center;
        min-width: 100vw;
        height: 356.8px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    
        & > .headerContent {
            width: 90%;
            margin-left: 10%;
            margin-top: 3%;
            display: flex;   
            flex-direction: column;
            gap: 15px;
            position: relative;

            & > button {
                width: 40%;
            }
        }
    
    }
}

@media (max-width: 625px) {
    .content {
        // background-image: url('../public/images/cursos-treinamentos/homem-sorrindo.webp');
        background-position: center;
        min-width: 100vw;
        min-height: 356.8px;
        height: auto;
        max-height: 400px;
    
        & > .headerContent {
            width: 90%;
            margin-left: 10%;
            margin-top: 15%;
            display: flex;   
            justify-content: center;
            
            & > button {
                width: 70%;
            }
        }
    
    }
}

@media (max-width: 1057px) {
    .main {
    
        & > .pageSize {
           
    
            & .orientacoes {
    
                & > .orientacao {
                    min-height: 350px;
                    height: auto;
                    grid-template-columns: repeat(2, 45%);
                    gap: 20px;
    
                    & > .headerTipos {
                        display: flex;
                        gap: 10px;
                        flex-direction: column;
                    }
    
                    & > .descricao {
                        width: 100%;
                    }
                }
    
            }
            
        }
    } 
    
}

@media (max-width: 940px) {
    .main {
    
        & > .pageSize {
    
            & .orientacoes {
                grid-template-columns: repeat(1, 100%);
    
                & > .orientacao {
                    min-height: 350px;
                    height: auto;
                    gap: 20px;
    
                    & > .headerTipos {
                        display: flex;
                        gap: 10px;
                        flex-direction: row;

                    }
    
                    & > .descricao {
                        width: 100%;
                    }
                }
    
            }
            
        }
    } 
    
}

@media (max-width: 626px){
    .content {
        & > .headerContent {
            width: 80%;
        }
    }
}

@media (max-width: 475px) {
    .main {
    
        & > .content {
            & > .headerContent {
                width: 80%;
                
                & > .buttonFrase {
                    > b {
                        display: none;
                    }

                    > button {
                        width: 100%;
                    }
                }
            }
        }

        & > .pageSize {
    
            & .orientacoes {
                grid-template-columns: repeat(1, 100%);
    
                & > .orientacao {
                    min-height: 350px;
                    height: auto;
                    gap: 20px;
    
                    & > .headerTipos {
                        display: flex;
                        gap: 10px;
                        flex-direction: column;
                        width: 70%; 


                        & > p {
                            width: auto;
                        }
                    }
    
                    & > .descricao {
                        width: 100%;
                    }
                }
    
            }
            
        }
    } 
    
}