// blue - primary

$blue-2: #EBF0F5;
$blue-10: #E9F7FD;
$blue-30: #BEE7FA;
$blue-40: #A8DFF9;
$blue-70: #67C8F4;
$blue-100: #26B0EF;

// darkblue - primary

$dark-blue-2: #F2F6FA;
$dark-blue-10: #E6E9EE;
$dark-blue-30: #B3BECB;
$dark-blue-40: #9AA9BA;
$dark-blue-70: #4F6886;
$dark-blue-100: #032752;
// $dark-blue-100-40: #032752/40; // opaco em40
$dark-blue-black: #011832;
$dark-blue-fulldark: #011226;

// grey

$gray-details: #717782;
$gray-600: #33303E;
$gray-500: #4E4B59;
$gray-400: #5F5C6B;
$gray-300: #7A7786;
$gray-200: #C6C5CE;
$gray-100: #F1F0F5;
$gray-black: #201D29;

// orange

$orange-100: #FC943F ; 
$orange-70: #FDB479 ; 
$orange-40: #FED4B2 ; 
$orange-30: #FEDFC5 ; 
$orange-10: #FFF4EC ; 
$orange-02: #FFFDFB ; 

// purple
$purple-100: #39005B ; 
$purple-90: #4D1A6B ; 
$purple-70: #61337C ; 
$purple-60: #744D8C ; 
$purple-40: #B099BD ; 
$purple-10: #EBE5EF ; 

// red
$red-01: #7D0507 ; 
$red-02: #C63A3C ; 

// green
$green-01: #2D4820 ; 
$green-02: #68A541 ; 